@font-face {
    font-family: 'Quicksand';
    src: url('assets/fonts/Quicksand-Medium.woff2') format('woff2'),
    url('assets/fonts/Quicksand-Medium.woff') format('woff'),
    url('assets/fonts/Quicksand-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Quicksand';
    src: url('assets/fonts/Quicksand-Light.woff2') format('woff2'),
    url('assets/fonts/Quicksand-Light.woff') format('woff'),
    url('assets/fonts/Quicksand-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Quicksand';
    src: url('assets/fonts/Quicksand-Bold.woff2') format('woff2'),
    url('assets/fonts/Quicksand-Bold.woff') format('woff'),
    url('assets/fonts/Quicksand-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Quicksand';
    src: url('assets/fonts/Quicksand-SemiBold.woff2') format('woff2'),
    url('assets/fonts/Quicksand-SemiBold.woff') format('woff'),
    url('assets/fonts/Quicksand-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Quicksand';
    src: url('assets/fonts/Quicksand-Regular.woff2') format('woff2'),
    url('assets/fonts/Quicksand-Regular.woff') format('woff'),
    url('assets/fonts/Quicksand-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

