.container--layout {
  max-width: 1170px;
  margin: 0 auto; }

.sidebar .accordionFilter {
  background-color: #ffffff; }
  .sidebar .accordionFilter .filterAccordionBreadcrumbs {
    background-color: #ffffff;
    border: none; }
    .sidebar .accordionFilter .filterAccordionBreadcrumbs .filterBreadcrumbsContent .filterBreadcrumbsText {
      color: black; }
      .sidebar .accordionFilter .filterAccordionBreadcrumbs .filterBreadcrumbsContent .filterBreadcrumbsText::before {
        content: '';
        background: url("assets/component-search-page/img/search-filter-icon.svg") no-repeat;
        background-size: contain;
        display: inline-block;
        width: 18px;
        height: 18px;
        margin-right: 5px; }
    .sidebar .accordionFilter .filterAccordionBreadcrumbs .filterBreadcrumbsItem .caretIcon {
      margin-left: 5px;
      color: black; }
  .sidebar .accordionFilter .accordionFilterContainer {
    padding-left: 10px;
    padding-right: 10px; }
    .sidebar .accordionFilter .accordionFilterContainer .accordionFilterItem {
      padding-right: 10px;
      border: 1px solid #f2f4f5;
      border-radius: 8px;
      margin-bottom: 10px;
      padding-top: 0;
      padding-bottom: 0;
      min-height: 0; }
      .sidebar .accordionFilter .accordionFilterContainer .accordionFilterItem .accordionFilterContent {
        background-color: white;
        padding: 10px;
        border-radius: 8px; }
  .sidebar .accordionFilter .accordionFilterOpen .filterAccordionItemBox {
    background-color: white;
    padding: 10px;
    border-radius: 8px;
    min-height: 0; }
    .sidebar .accordionFilter .accordionFilterOpen .filterAccordionItemBox :global(.vtex-checkbox__line-container) {
      display: flex;
      align-items: center; }
      .sidebar .accordionFilter .accordionFilterOpen .filterAccordionItemBox :global(.vtex-checkbox__line-container) :global(.vtex-checkbox__label) {
        font-size: 20px;
        color: black; }

.sidebar .filterButtonsBox {
  background-color: #ffffff; }
  .sidebar .filterButtonsBox .filterClearButtonWrapper :global(.vtex-button) {
    background-color: white;
    color: #FD7D23;
    border-color: #f5f5f5; }
  .sidebar .filterButtonsBox .filterApplyButtonWrapper :global(.vtex-button) {
    background-color: #FD7D23;
    color: white; }
.container--layout {
  max-width: 1170px;
  margin: 0 auto; }

.sidebar .accordionFilter {
  background-color: #ffffff; }
  .sidebar .accordionFilter .filterAccordionBreadcrumbs {
    background-color: #ffffff;
    border: none; }
    .sidebar .accordionFilter .filterAccordionBreadcrumbs .filterBreadcrumbsContent .filterBreadcrumbsText {
      color: black; }
      .sidebar .accordionFilter .filterAccordionBreadcrumbs .filterBreadcrumbsContent .filterBreadcrumbsText::before {
        content: '';
        background: url("assets/component-search-page/img/search-filter-icon.svg") no-repeat;
        background-size: contain;
        display: inline-block;
        width: 18px;
        height: 18px;
        margin-right: 5px; }
    .sidebar .accordionFilter .filterAccordionBreadcrumbs .filterBreadcrumbsItem .caretIcon {
      margin-left: 5px;
      color: black; }
  .sidebar .accordionFilter .accordionFilterContainer {
    padding-left: 10px;
    padding-right: 10px; }
    .sidebar .accordionFilter .accordionFilterContainer .accordionFilterItem {
      padding-right: 10px;
      border: 1px solid #f2f4f5;
      border-radius: 8px;
      margin-bottom: 10px;
      padding-top: 0;
      padding-bottom: 0;
      min-height: 0; }
      .sidebar .accordionFilter .accordionFilterContainer .accordionFilterItem .accordionFilterContent {
        background-color: white;
        padding: 10px;
        border-radius: 8px; }
  .sidebar .accordionFilter .accordionFilterOpen .filterAccordionItemBox {
    background-color: white;
    padding: 10px;
    border-radius: 8px;
    min-height: 0; }
    .sidebar .accordionFilter .accordionFilterOpen .filterAccordionItemBox :global(.vtex-checkbox__line-container) {
      display: flex;
      align-items: center; }
      .sidebar .accordionFilter .accordionFilterOpen .filterAccordionItemBox :global(.vtex-checkbox__line-container) :global(.vtex-checkbox__label) {
        font-size: 20px;
        color: black; }

.sidebar .filterButtonsBox {
  background-color: #ffffff; }
  .sidebar .filterButtonsBox .filterClearButtonWrapper :global(.vtex-button) {
    background-color: white;
    color: #FD7D23;
    border-color: #f5f5f5; }
  .sidebar .filterButtonsBox .filterApplyButtonWrapper :global(.vtex-button) {
    background-color: #FD7D23;
    color: white; }
.container--layout {
  max-width: 1170px;
  margin: 0 auto; }

.sidebar .accordionFilter {
  background-color: #ffffff; }
  .sidebar .accordionFilter .filterAccordionBreadcrumbs {
    background-color: #ffffff;
    border: none; }
    .sidebar .accordionFilter .filterAccordionBreadcrumbs .filterBreadcrumbsContent .filterBreadcrumbsText {
      color: black; }
      .sidebar .accordionFilter .filterAccordionBreadcrumbs .filterBreadcrumbsContent .filterBreadcrumbsText::before {
        content: '';
        background: url("assets/component-search-page/img/search-filter-icon.svg") no-repeat;
        background-size: contain;
        display: inline-block;
        width: 18px;
        height: 18px;
        margin-right: 5px; }
    .sidebar .accordionFilter .filterAccordionBreadcrumbs .filterBreadcrumbsItem .caretIcon {
      margin-left: 5px;
      color: black; }
  .sidebar .accordionFilter .accordionFilterContainer {
    padding-left: 10px;
    padding-right: 10px; }
    .sidebar .accordionFilter .accordionFilterContainer .accordionFilterItem {
      padding-right: 10px;
      border: 1px solid #f2f4f5;
      border-radius: 8px;
      margin-bottom: 10px;
      padding-top: 0;
      padding-bottom: 0;
      min-height: 0; }
      .sidebar .accordionFilter .accordionFilterContainer .accordionFilterItem .accordionFilterContent {
        background-color: white;
        padding: 10px;
        border-radius: 8px; }
  .sidebar .accordionFilter .accordionFilterOpen .filterAccordionItemBox {
    background-color: white;
    padding: 10px;
    border-radius: 8px;
    min-height: 0; }
    .sidebar .accordionFilter .accordionFilterOpen .filterAccordionItemBox :global(.vtex-checkbox__line-container) {
      display: flex;
      align-items: center; }
      .sidebar .accordionFilter .accordionFilterOpen .filterAccordionItemBox :global(.vtex-checkbox__line-container) :global(.vtex-checkbox__label) {
        font-size: 20px;
        color: black; }

.sidebar .filterButtonsBox {
  background-color: #ffffff; }
  .sidebar .filterButtonsBox .filterClearButtonWrapper :global(.vtex-button) {
    background-color: white;
    color: #FD7D23;
    border-color: #f5f5f5; }
  .sidebar .filterButtonsBox .filterApplyButtonWrapper :global(.vtex-button) {
    background-color: #FD7D23;
    color: white; }
.container--layout {
  max-width: 1170px;
  margin: 0 auto; }

.sidebar .accordionFilter {
  background-color: #ffffff; }
  .sidebar .accordionFilter .filterAccordionBreadcrumbs {
    background-color: #ffffff;
    border: none; }
    .sidebar .accordionFilter .filterAccordionBreadcrumbs .filterBreadcrumbsContent .filterBreadcrumbsText {
      color: black; }
      .sidebar .accordionFilter .filterAccordionBreadcrumbs .filterBreadcrumbsContent .filterBreadcrumbsText::before {
        content: '';
        background: url("assets/component-search-page/img/search-filter-icon.svg") no-repeat;
        background-size: contain;
        display: inline-block;
        width: 18px;
        height: 18px;
        margin-right: 5px; }
    .sidebar .accordionFilter .filterAccordionBreadcrumbs .filterBreadcrumbsItem .caretIcon {
      margin-left: 5px;
      color: black; }
  .sidebar .accordionFilter .accordionFilterContainer {
    padding-left: 10px;
    padding-right: 10px; }
    .sidebar .accordionFilter .accordionFilterContainer .accordionFilterItem {
      padding-right: 10px;
      border: 1px solid #f2f4f5;
      border-radius: 8px;
      margin-bottom: 10px;
      padding-top: 0;
      padding-bottom: 0;
      min-height: 0; }
      .sidebar .accordionFilter .accordionFilterContainer .accordionFilterItem .accordionFilterContent {
        background-color: white;
        padding: 10px;
        border-radius: 8px; }
  .sidebar .accordionFilter .accordionFilterOpen .filterAccordionItemBox {
    background-color: white;
    padding: 10px;
    border-radius: 8px;
    min-height: 0; }
    .sidebar .accordionFilter .accordionFilterOpen .filterAccordionItemBox :global(.vtex-checkbox__line-container) {
      display: flex;
      align-items: center; }
      .sidebar .accordionFilter .accordionFilterOpen .filterAccordionItemBox :global(.vtex-checkbox__line-container) :global(.vtex-checkbox__label) {
        font-size: 20px;
        color: black; }

.sidebar .filterButtonsBox {
  background-color: #ffffff; }
  .sidebar .filterButtonsBox .filterClearButtonWrapper :global(.vtex-button) {
    background-color: white;
    color: #FD7D23;
    border-color: #f5f5f5; }
  .sidebar .filterButtonsBox .filterApplyButtonWrapper :global(.vtex-button) {
    background-color: #FD7D23;
    color: white; }
.container--layout {
  max-width: 1170px;
  margin: 0 auto; }

.sidebar .accordionFilter {
  background-color: #ffffff; }
  .sidebar .accordionFilter .filterAccordionBreadcrumbs {
    background-color: #ffffff;
    border: none; }
    .sidebar .accordionFilter .filterAccordionBreadcrumbs .filterBreadcrumbsContent .filterBreadcrumbsText {
      color: black; }
      .sidebar .accordionFilter .filterAccordionBreadcrumbs .filterBreadcrumbsContent .filterBreadcrumbsText::before {
        content: '';
        background: url("assets/component-search-page/img/search-filter-icon.svg") no-repeat;
        background-size: contain;
        display: inline-block;
        width: 18px;
        height: 18px;
        margin-right: 5px; }
    .sidebar .accordionFilter .filterAccordionBreadcrumbs .filterBreadcrumbsItem .caretIcon {
      margin-left: 5px;
      color: black; }
  .sidebar .accordionFilter .accordionFilterContainer {
    padding-left: 10px;
    padding-right: 10px; }
    .sidebar .accordionFilter .accordionFilterContainer .accordionFilterItem {
      padding-right: 10px;
      border: 1px solid #f2f4f5;
      border-radius: 8px;
      margin-bottom: 10px;
      padding-top: 0;
      padding-bottom: 0;
      min-height: 0; }
      .sidebar .accordionFilter .accordionFilterContainer .accordionFilterItem .accordionFilterContent {
        background-color: white;
        padding: 10px;
        border-radius: 8px; }
  .sidebar .accordionFilter .accordionFilterOpen .filterAccordionItemBox {
    background-color: white;
    padding: 10px;
    border-radius: 8px;
    min-height: 0; }
    .sidebar .accordionFilter .accordionFilterOpen .filterAccordionItemBox :global(.vtex-checkbox__line-container) {
      display: flex;
      align-items: center; }
      .sidebar .accordionFilter .accordionFilterOpen .filterAccordionItemBox :global(.vtex-checkbox__line-container) :global(.vtex-checkbox__label) {
        font-size: 20px;
        color: black; }

.sidebar .filterButtonsBox {
  background-color: #ffffff; }
  .sidebar .filterButtonsBox .filterClearButtonWrapper :global(.vtex-button) {
    background-color: white;
    color: #FD7D23;
    border-color: #f5f5f5; }
  .sidebar .filterButtonsBox .filterApplyButtonWrapper :global(.vtex-button) {
    background-color: #FD7D23;
    color: white; }
