.modal--modal-layout-warning {
  background-color: rgba(0, 0, 0, 0.2); }

.triggerContainer--modal-warning-message {
  display: none; }

.paper--modal-layout-warning {
  padding: 25px;
  border-radius: 8px; }
  .paper--modal-layout-warning :global(.vtex-store-components-3-x-logoContainer--logo-warning) {
    margin: 0 auto; }
  .paper--modal-layout-warning :global(.vtex-rich-text-0-x-container--modal-content) {
    justify-content: center; }
    .paper--modal-layout-warning :global(.vtex-rich-text-0-x-container--modal-content) :global(.vtex-rich-text-0-x-wrapper--modal-content) :global(.vtex-rich-text-0-x-paragraph--modal-content) {
      margin: 0;
      font-size: 28px;
      font-weight: bold; }
  .paper--modal-layout-warning :global(.vtex-rich-text-0-x-container--modal-content-2) {
    justify-content: center; }
    .paper--modal-layout-warning :global(.vtex-rich-text-0-x-container--modal-content-2) :global(.vtex-rich-text-0-x-wrapper--modal-content-2) :global(.vtex-rich-text-0-x-paragraph--modal-content-2) {
      margin: 0;
      font-size: 26px; }
  .paper--modal-layout-warning :global(.vtex-flex-layout-0-x-flexRow--buttons) {
    margin-top: 30px; }
    .paper--modal-layout-warning :global(.vtex-flex-layout-0-x-flexRow--buttons) :global(.vtex-store-components-3-x-container) {
      padding: 0; }
      .paper--modal-layout-warning :global(.vtex-flex-layout-0-x-flexRow--buttons) :global(.vtex-store-components-3-x-container) :global(.vtex-flex-layout-0-x-flexRowContent--buttons) {
        gap: 20px; }
        .paper--modal-layout-warning :global(.vtex-flex-layout-0-x-flexRow--buttons) :global(.vtex-store-components-3-x-container) :global(.vtex-flex-layout-0-x-flexRowContent--buttons) :global(.vtex-flex-layout-0-x-stretchChildrenWidth) :global(.vtex-store-link-0-x-link--accept) {
          display: block;
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
          border-radius: 4px;
          margin: 0 auto;
          background-color: #FD7D23;
          color: white;
          text-decoration: none;
          text-align: center;
          padding: 10px;
          transition: 0.5s; }
          .paper--modal-layout-warning :global(.vtex-flex-layout-0-x-flexRow--buttons) :global(.vtex-store-components-3-x-container) :global(.vtex-flex-layout-0-x-flexRowContent--buttons) :global(.vtex-flex-layout-0-x-stretchChildrenWidth) :global(.vtex-store-link-0-x-link--accept):hover {
            box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
            background-color: #ce6319;
            transition: 0.5s; }
          .paper--modal-layout-warning :global(.vtex-flex-layout-0-x-flexRow--buttons) :global(.vtex-store-components-3-x-container) :global(.vtex-flex-layout-0-x-flexRowContent--buttons) :global(.vtex-flex-layout-0-x-stretchChildrenWidth) :global(.vtex-store-link-0-x-link--accept) :global(.vtex-store-link-0-x-label--accept) {
            font-size: 22px; }
        .paper--modal-layout-warning :global(.vtex-flex-layout-0-x-flexRow--buttons) :global(.vtex-store-components-3-x-container) :global(.vtex-flex-layout-0-x-flexRowContent--buttons) :global(.vtex-flex-layout-0-x-stretchChildrenWidth) :global(.vtex-store-link-0-x-link--decline) {
          display: block;
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
          border-radius: 4px;
          margin: 0 auto;
          text-decoration: none;
          text-align: center;
          padding: 10px;
          color: black;
          transition: 0.5s; }
          .paper--modal-layout-warning :global(.vtex-flex-layout-0-x-flexRow--buttons) :global(.vtex-store-components-3-x-container) :global(.vtex-flex-layout-0-x-flexRowContent--buttons) :global(.vtex-flex-layout-0-x-stretchChildrenWidth) :global(.vtex-store-link-0-x-link--decline):hover {
            box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
            transition: 0.5s; }
          .paper--modal-layout-warning :global(.vtex-flex-layout-0-x-flexRow--buttons) :global(.vtex-store-components-3-x-container) :global(.vtex-flex-layout-0-x-flexRowContent--buttons) :global(.vtex-flex-layout-0-x-stretchChildrenWidth) :global(.vtex-store-link-0-x-link--decline) :global(.vtex-store-link-0-x-label--decline) {
            font-size: 22px; }

@media (max-width: 768px) {
  .paper--modal-layout-warning {
    padding: 20px;
    border-radius: 8px; }
    .paper--modal-layout-warning :global(.vtex-store-components-3-x-logoContainer--logo-warning) {
      margin: 0 auto; }
    .paper--modal-layout-warning :global(.vtex-rich-text-0-x-container--modal-content) {
      justify-content: center;
      margin-top: 10px; }
      .paper--modal-layout-warning :global(.vtex-rich-text-0-x-container--modal-content) :global(.vtex-rich-text-0-x-wrapper--modal-content) :global(.vtex-rich-text-0-x-paragraph--modal-content) {
        margin: 0;
        font-size: 22px;
        font-weight: bold; }
    .paper--modal-layout-warning :global(.vtex-rich-text-0-x-container--modal-content-2) {
      justify-content: center; }
      .paper--modal-layout-warning :global(.vtex-rich-text-0-x-container--modal-content-2) :global(.vtex-rich-text-0-x-wrapper--modal-content-2) :global(.vtex-rich-text-0-x-paragraph--modal-content-2) {
        margin: 0;
        font-size: 20px; }
    .paper--modal-layout-warning :global(.vtex-flex-layout-0-x-flexRow--buttons) :global(.vtex-store-components-3-x-container) {
      padding: 0; }
      .paper--modal-layout-warning :global(.vtex-flex-layout-0-x-flexRow--buttons) :global(.vtex-store-components-3-x-container) :global(.vtex-flex-layout-0-x-flexRowContent--buttons) {
        gap: 20px; }
        .paper--modal-layout-warning :global(.vtex-flex-layout-0-x-flexRow--buttons) :global(.vtex-store-components-3-x-container) :global(.vtex-flex-layout-0-x-flexRowContent--buttons) :global(.vtex-flex-layout-0-x-stretchChildrenWidth) :global(.vtex-store-link-0-x-link--accept) {
          display: block;
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
          border-radius: 4px;
          background-color: #FD7D23;
          color: white;
          text-decoration: none;
          text-align: center;
          padding: 10px;
          transition: 0.5s;
          margin-top: 15px; }
          .paper--modal-layout-warning :global(.vtex-flex-layout-0-x-flexRow--buttons) :global(.vtex-store-components-3-x-container) :global(.vtex-flex-layout-0-x-flexRowContent--buttons) :global(.vtex-flex-layout-0-x-stretchChildrenWidth) :global(.vtex-store-link-0-x-link--accept):hover {
            box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
            background-color: #ce6319;
            transition: 0.5s; }
          .paper--modal-layout-warning :global(.vtex-flex-layout-0-x-flexRow--buttons) :global(.vtex-store-components-3-x-container) :global(.vtex-flex-layout-0-x-flexRowContent--buttons) :global(.vtex-flex-layout-0-x-stretchChildrenWidth) :global(.vtex-store-link-0-x-link--accept) :global(.vtex-store-link-0-x-label--accept) {
            font-size: 18px; }
        .paper--modal-layout-warning :global(.vtex-flex-layout-0-x-flexRow--buttons) :global(.vtex-store-components-3-x-container) :global(.vtex-flex-layout-0-x-flexRowContent--buttons) :global(.vtex-flex-layout-0-x-stretchChildrenWidth) :global(.vtex-store-link-0-x-link--decline) {
          display: block;
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
          border-radius: 4px;
          margin: 0 auto;
          text-decoration: none;
          text-align: center;
          padding: 10px;
          color: black;
          transition: 0.5s; }
          .paper--modal-layout-warning :global(.vtex-flex-layout-0-x-flexRow--buttons) :global(.vtex-store-components-3-x-container) :global(.vtex-flex-layout-0-x-flexRowContent--buttons) :global(.vtex-flex-layout-0-x-stretchChildrenWidth) :global(.vtex-store-link-0-x-link--decline):hover {
            box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
            transition: 0.5s; }
          .paper--modal-layout-warning :global(.vtex-flex-layout-0-x-flexRow--buttons) :global(.vtex-store-components-3-x-container) :global(.vtex-flex-layout-0-x-flexRowContent--buttons) :global(.vtex-flex-layout-0-x-stretchChildrenWidth) :global(.vtex-store-link-0-x-link--decline) :global(.vtex-store-link-0-x-label--decline) {
            font-size: 18px; } }
