.drawer--drawer-menu-mobile .drawerContent--drawer-menu-mobile {
  position: relative; }
  .drawer--drawer-menu-mobile .drawerContent--drawer-menu-mobile .closeIconContainer--drawer-menu-mobile {
    display: flex;
    justify-content: flex-end; }
  .drawer--drawer-menu-mobile .drawerContent--drawer-menu-mobile .childrenContainer--drawer-menu-mobile :global(.vtex-store-components-3-x-logoLink) {
    position: absolute;
    top: 10px;
    left: 10px; }
  .drawer--drawer-menu-mobile .drawerContent--drawer-menu-mobile .childrenContainer--drawer-menu-mobile :global(.vtex-category-menu-2-x-sidebarContainer) :global(.vtex-category-menu-2-x-animation) {
    transform: translateX(0) !important;
    top: 50px;
    width: 100%;
    box-shadow: none;
    left: 0 !important; }
    .drawer--drawer-menu-mobile .drawerContent--drawer-menu-mobile .childrenContainer--drawer-menu-mobile :global(.vtex-category-menu-2-x-sidebarContainer) :global(.vtex-category-menu-2-x-animation) :global(.vtex-category-menu-2-x-sidebar) {
      box-shadow: none; }
      .drawer--drawer-menu-mobile .drawerContent--drawer-menu-mobile .childrenContainer--drawer-menu-mobile :global(.vtex-category-menu-2-x-sidebarContainer) :global(.vtex-category-menu-2-x-animation) :global(.vtex-category-menu-2-x-sidebar) :global(.vtex-category-menu-2-x-sidebarHeader) {
        display: none; }
      .drawer--drawer-menu-mobile .drawerContent--drawer-menu-mobile .childrenContainer--drawer-menu-mobile :global(.vtex-category-menu-2-x-sidebarContainer) :global(.vtex-category-menu-2-x-animation) :global(.vtex-category-menu-2-x-sidebar) :global(.vtex-category-menu-2-x-sidebarContent) {
        padding: 10px 10px 300px; }
        .drawer--drawer-menu-mobile .drawerContent--drawer-menu-mobile .childrenContainer--drawer-menu-mobile :global(.vtex-category-menu-2-x-sidebarContainer) :global(.vtex-category-menu-2-x-animation) :global(.vtex-category-menu-2-x-sidebar) :global(.vtex-category-menu-2-x-sidebarContent) :global(.vtex-category-menu-2-x-sidebarItem) {
          background-color: #ffffff;
          color: #343434;
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
          margin-bottom: 10px;
          border-radius: 8px; }
          .drawer--drawer-menu-mobile .drawerContent--drawer-menu-mobile .childrenContainer--drawer-menu-mobile :global(.vtex-category-menu-2-x-sidebarContainer) :global(.vtex-category-menu-2-x-animation) :global(.vtex-category-menu-2-x-sidebar) :global(.vtex-category-menu-2-x-sidebarContent) :global(.vtex-category-menu-2-x-sidebarItem) :global(.vtex-category-menu-2-x-sidebarItemContainer) :global(.vtex-category-menu-2-x-plusIcon--mobile-mode) {
            color: #ffffff; }
          .drawer--drawer-menu-mobile .drawerContent--drawer-menu-mobile .childrenContainer--drawer-menu-mobile :global(.vtex-category-menu-2-x-sidebarContainer) :global(.vtex-category-menu-2-x-animation) :global(.vtex-category-menu-2-x-sidebar) :global(.vtex-category-menu-2-x-sidebarContent) :global(.vtex-category-menu-2-x-sidebarItem) :global(.vtex-category-menu-2-x-sidebarItem) {
            box-shadow: none;
            padding-left: 10px;
            padding-bottom: 10px;
            padding-right: 10px;
            margin-top: 0;
            margin-bottom: 0; }
            .drawer--drawer-menu-mobile .drawerContent--drawer-menu-mobile .childrenContainer--drawer-menu-mobile :global(.vtex-category-menu-2-x-sidebarContainer) :global(.vtex-category-menu-2-x-animation) :global(.vtex-category-menu-2-x-sidebar) :global(.vtex-category-menu-2-x-sidebarContent) :global(.vtex-category-menu-2-x-sidebarItem) :global(.vtex-category-menu-2-x-sidebarItem) :global(.vtex-category-menu-2-x-sidebarItemContainer) {
              background-color: #19A99D;
              color: #ffffff;
              border-radius: 8px; }
            .drawer--drawer-menu-mobile .drawerContent--drawer-menu-mobile .childrenContainer--drawer-menu-mobile :global(.vtex-category-menu-2-x-sidebarContainer) :global(.vtex-category-menu-2-x-animation) :global(.vtex-category-menu-2-x-sidebar) :global(.vtex-category-menu-2-x-sidebarContent) :global(.vtex-category-menu-2-x-sidebarItem) :global(.vtex-category-menu-2-x-sidebarItem) :global(.vtex-category-menu-2-x-sidebarItem) {
              box-shadow: none;
              padding-left: 10px;
              margin-top: 0;
              padding-bottom: 10px;
              margin-bottom: 0; }
              .drawer--drawer-menu-mobile .drawerContent--drawer-menu-mobile .childrenContainer--drawer-menu-mobile :global(.vtex-category-menu-2-x-sidebarContainer) :global(.vtex-category-menu-2-x-animation) :global(.vtex-category-menu-2-x-sidebar) :global(.vtex-category-menu-2-x-sidebarContent) :global(.vtex-category-menu-2-x-sidebarItem) :global(.vtex-category-menu-2-x-sidebarItem) :global(.vtex-category-menu-2-x-sidebarItem) :global(.vtex-category-menu-2-x-sidebarItemContainer) {
                background-color: #FD7D23;
                color: #ffffff;
                border-radius: 8px; }
  .drawer--drawer-menu-mobile .drawerContent--drawer-menu-mobile .childrenContainer--drawer-menu-mobile :global(.vtex-flex-layout-0-x-flexRow--mobile-service) {
    position: fixed;
    bottom: 0;
    z-index: 99999999999;
    background-color: white;
    width: 100%;
    padding: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); }
    .drawer--drawer-menu-mobile .drawerContent--drawer-menu-mobile .childrenContainer--drawer-menu-mobile :global(.vtex-flex-layout-0-x-flexRow--mobile-service) :global(.vtex-flex-layout-0-x-flexRowContent--mobile-service) :global(.vtex-flex-layout-0-x-stretchChildrenWidth) :global(.vtex-rich-text-0-x-container--mobile-attendance) :global(.vtex-rich-text-0-x-wrapper--mobile-attendance) :global(.vtex-rich-text-0-x-paragraph--mobile-attendance) {
      margin: 0;
      font-size: 15px;
      color: #19A99D;
      font-weight: 600;
      text-transform: uppercase; }
    .drawer--drawer-menu-mobile .drawerContent--drawer-menu-mobile .childrenContainer--drawer-menu-mobile :global(.vtex-flex-layout-0-x-flexRow--mobile-service) :global(.vtex-flex-layout-0-x-flexRowContent--mobile-service) :global(.vtex-flex-layout-0-x-stretchChildrenWidth) :global(.vtex-rich-text-0-x-container--mobile-days-of-service) :global(.vtex-rich-text-0-x-wrapper--mobile-days-of-service) :global(.vtex-rich-text-0-x-paragraph--mobile-days-of-service) {
      margin: 0;
      font-size: 13px;
      color: #404040;
      font-weight: 600; }
    .drawer--drawer-menu-mobile .drawerContent--drawer-menu-mobile .childrenContainer--drawer-menu-mobile :global(.vtex-flex-layout-0-x-flexRow--mobile-service) :global(.vtex-flex-layout-0-x-flexRowContent--mobile-service) :global(.vtex-flex-layout-0-x-stretchChildrenWidth) :global(.vtex-rich-text-0-x-container--mobile-number-1) :global(.vtex-rich-text-0-x-wrapper--mobile-number-1) :global(.vtex-rich-text-0-x-paragraph--mobile-number-1) {
      font-size: 16px;
      color: #404040;
      font-weight: 600;
      margin: 5px 0; }
    .drawer--drawer-menu-mobile .drawerContent--drawer-menu-mobile .childrenContainer--drawer-menu-mobile :global(.vtex-flex-layout-0-x-flexRow--mobile-service) :global(.vtex-flex-layout-0-x-flexRowContent--mobile-service) :global(.vtex-flex-layout-0-x-stretchChildrenWidth) :global(.vtex-rich-text-0-x-container--mobile-number-2) :global(.vtex-rich-text-0-x-wrapper--mobile-number-2) :global(.vtex-rich-text-0-x-paragraph--mobile-number-2) {
      font-size: 16px;
      color: #404040;
      font-weight: 600;
      margin: 5px 0; }
    .drawer--drawer-menu-mobile .drawerContent--drawer-menu-mobile .childrenContainer--drawer-menu-mobile :global(.vtex-flex-layout-0-x-flexRow--mobile-service) :global(.vtex-flex-layout-0-x-flexRowContent--mobile-service) :global(.vtex-flex-layout-0-x-stretchChildrenWidth) :global(.vtex-rich-text-0-x-container--mobile-email) :global(.vtex-rich-text-0-x-wrapper--mobile-email) :global(.vtex-rich-text-0-x-paragraph--mobile-email) {
      margin: 0; }
      .drawer--drawer-menu-mobile .drawerContent--drawer-menu-mobile .childrenContainer--drawer-menu-mobile :global(.vtex-flex-layout-0-x-flexRow--mobile-service) :global(.vtex-flex-layout-0-x-flexRowContent--mobile-service) :global(.vtex-flex-layout-0-x-stretchChildrenWidth) :global(.vtex-rich-text-0-x-container--mobile-email) :global(.vtex-rich-text-0-x-wrapper--mobile-email) :global(.vtex-rich-text-0-x-paragraph--mobile-email) :global(.vtex-rich-text-0-x-link--mobile-email) {
        font-size: 14px;
        color: #404040;
        text-decoration: underline;
        margin: 5px 0; }
.opened--drawer-category-listing {
  transform: translate(-50%) !important;
  transition: 0.5s; }

.closed--drawer-category-listing {
  transform: translate3d(-160%, 0px, 0px) !important;
  transition: 0.5s; }

.drawer--drawer-category-listing {
  width: 90%;
  max-width: 450px;
  min-width: 280px;
  pointer-events: auto;
  left: 50%;
  top: 10px;
  border-radius: 10px;
  max-width: calc(100vw - 20px) !important;
  width: 100% !important;
  bottom: 10px; }
  .drawer--drawer-category-listing .closeIconContainer--drawer-category-listing {
    justify-content: space-between;
    align-items: center; }
    .drawer--drawer-category-listing .closeIconContainer--drawer-category-listing::before {
      content: 'Categorias';
      font-size: 20px;
      padding: 12px; }
  .drawer--drawer-category-listing :global(.vtex-slider-layout-0-x-sliderTrack--category-listing-mobile) {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 15px;
    padding: 12px 12px; }
    .drawer--drawer-category-listing :global(.vtex-slider-layout-0-x-sliderTrack--category-listing-mobile) :global(.vtex-slider-layout-0-x-slide--category-listing-mobile) {
      width: 100% !important; }
      .drawer--drawer-category-listing :global(.vtex-slider-layout-0-x-sliderTrack--category-listing-mobile) :global(.vtex-slider-layout-0-x-slide--category-listing-mobile) :global(.vtex-slider-layout-0-x-imageElementLink--category-listing-mobile) {
        width: 100%;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
        border-radius: 12px; }
        .drawer--drawer-category-listing :global(.vtex-slider-layout-0-x-sliderTrack--category-listing-mobile) :global(.vtex-slider-layout-0-x-slide--category-listing-mobile) :global(.vtex-slider-layout-0-x-imageElementLink--category-listing-mobile) :global(.vtex-slider-layout-0-x-imageElement--category-listing-mobile) {
          width: 100% !important;
          border-radius: 10px;
          max-width: 60% !important; }
