.link--link-wishlist {
  padding-left: 15px;
  padding-right: 15px; }
  .link--link-wishlist::before {
    content: '';
    background: url("assets/component-header-left-menu/img/icon-wishlist.svg") no-repeat;
    background-size: contain;
    display: block;
    width: 32px;
    height: 32px; }
