.drawerContent {
    position: relative;
}

.drawerContent .closeIconContainer {
    justify-content: flex-end;
}

.drawerContent .childrenContainer .minicartSideBarContentWrapper .minicartContentContainer .minicartTitle {
    position: absolute;
    top: 10px;
    font-size: 0;
}

.drawerContent .childrenContainer .minicartSideBarContentWrapper .minicartContentContainer .minicartTitle::before {
    content: 'Carrinho de compras';
    font-size: 25px;
}

.drawerContent .childrenContainer .minicartSideBarContentWrapper .minicartContentContainer .minicartProductListContainer {
    padding: 0 10px;
}

.drawerContent .childrenContainer .minicartSideBarContentWrapper .minicartContentContainer .minicartProductListContainer :global(.vtex-flex-layout-0-x-flexRow) :global(.vtex-flex-layout-0-x-flexRowContent) {
    border-bottom: 1px solid #F0F0F0;
    position: relative;
}

.drawerContent .childrenContainer .minicartSideBarContentWrapper .minicartContentContainer .minicartProductListContainer :global(.vtex-flex-layout-0-x-flexRow) :global(.vtex-flex-layout-0-x-flexRowContent) :global(.vtex-flex-layout-0-x-stretchChildrenWidth) :global(.vtex-flex-layout-0-x-flexCol) :global(.vtex-flex-layout-0-x-flexColChild) :global(.vtex-flex-layout-0-x-flexRow) :global(.vtex-flex-layout-0-x-flexRowContent) {
    margin: 0;
    border: none;
}

.drawerContent .childrenContainer .minicartSideBarContentWrapper .minicartContentContainer .minicartProductListContainer :global(.vtex-flex-layout-0-x-flexRow) :global(.vtex-flex-layout-0-x-flexRowContent) :global(.vtex-flex-layout-0-x-stretchChildrenWidth) :global(.vtex-flex-layout-0-x-flexCol) :global(.vtex-flex-layout-0-x-flexColChild) :global(.vtex-flex-layout-0-x-flexRow) :global(.vtex-flex-layout-0-x-flexRowContent) :global(.vtex-product-list-0-x-productBrandName) {
    display: none;
}

.drawerContent .childrenContainer .minicartSideBarContentWrapper .minicartContentContainer .minicartProductListContainer :global(.vtex-flex-layout-0-x-flexRow) :global(.vtex-flex-layout-0-x-flexRowContent) :global(.vtex-flex-layout-0-x-stretchChildrenWidth) :global(.vtex-flex-layout-0-x-flexCol) :global(.vtex-flex-layout-0-x-flexColChild) :global(.vtex-flex-layout-0-x-flexRow) :global(.vtex-flex-layout-0-x-flexRowContent) {
    border: none;
}

.drawerContent .childrenContainer .minicartSideBarContentWrapper .minicartContentContainer .minicartProductListContainer :global(.vtex-flex-layout-0-x-flexRow) :global(.vtex-flex-layout-0-x-flexRowContent) :global(.vtex-flex-layout-0-x-stretchChildrenWidth) :global(.vtex-flex-layout-0-x-flexCol) :global(.vtex-flex-layout-0-x-flexColChild) :global(.vtex-flex-layout-0-x-flexRow) :global(.vtex-flex-layout-0-x-flexRowContent) {
    margin: 5px 0;
    border: none;
}

.drawerContent .childrenContainer .minicartSideBarContentWrapper .minicartContentContainer .minicartProductListContainer :global(.vtex-flex-layout-0-x-flexRow) :global(.vtex-flex-layout-0-x-flexRowContent) :global(.vtex-flex-layout-0-x-stretchChildrenWidth) :global(.vtex-flex-layout-0-x-flexCol) :global(.vtex-flex-layout-0-x-flexColChild) :global(.vtex-flex-layout-0-x-flexRow) :global(.vtex-flex-layout-0-x-flexRowContent) {
    border: none;
    margin: 5px 0;
}

.drawerContent .childrenContainer .minicartSideBarContentWrapper .minicartContentContainer .minicartProductListContainer :global(.vtex-flex-layout-0-x-flexRow) :global(.vtex-flex-layout-0-x-flexRowContent) :global(.vtex-flex-layout-0-x-stretchChildrenWidth) :global(.vtex-flex-layout-0-x-flexCol) :global(.vtex-flex-layout-0-x-flexColChild) :global(.vtex-flex-layout-0-x-flexRow) :global(.vtex-flex-layout-0-x-flexRowContent) {
    margin: 5px 0;
    border: none;
}

.drawerContent .childrenContainer .minicartSideBarContentWrapper .minicartContentContainer :global(.vtex-flex-layout-0-x-flexRow--minicart-footer) :global(.vtex-flex-layout-0-x-flexRowContent--minicart-footer) :global(.vtex-flex-layout-0-x-stretchChildrenWidth) :global(.vtex-flex-layout-0-x-flexCol--col-minicart-footer) :global(.vtex-flex-layout-0-x-flexColChild--col-minicart-footer) :global(.vtex-minicart-2-x-minicartSummary) {
    padding: 10px 10px 0px;
}

.drawerContent .childrenContainer .minicartSideBarContentWrapper .minicartContentContainer :global(.vtex-flex-layout-0-x-flexRow--minicart-footer) :global(.vtex-flex-layout-0-x-flexRowContent--minicart-footer) :global(.vtex-flex-layout-0-x-stretchChildrenWidth) :global(.vtex-flex-layout-0-x-flexCol--col-minicart-footer) :global(.vtex-flex-layout-0-x-flexColChild--col-minicart-footer) :global(.vtex-minicart-2-x-minicartSummary) :global(.vtex-checkout-summary-0-x-summarySmallContent) :global(.vtex-checkout-summary-0-x-summaryItemContainer) {
    padding: 0;
    margin: 5px 0;
}

.drawerContent .childrenContainer .minicartSideBarContentWrapper .minicartContentContainer :global(.vtex-flex-layout-0-x-flexRow--minicart-footer) :global(.vtex-flex-layout-0-x-flexRowContent--minicart-footer) :global(.vtex-flex-layout-0-x-stretchChildrenWidth) :global(.vtex-flex-layout-0-x-flexCol--col-minicart-footer) :global(.vtex-flex-layout-0-x-flexColChild--col-minicart-footer) :global(.vtex-minicart-2-x-minicartSummary) :global(.vtex-checkout-summary-0-x-summarySmallContent) :global(.vtex-checkout-summary-0-x-summaryItemContainer) {
    padding: 0;
    margin: 5px 0;
}

.drawerContent .childrenContainer .minicartSideBarContentWrapper .minicartContentContainer :global(.vtex-flex-layout-0-x-flexRow--minicart-footer) :global(.vtex-flex-layout-0-x-flexRowContent--minicart-footer) :global(.vtex-flex-layout-0-x-stretchChildrenWidth) :global(.vtex-flex-layout-0-x-flexCol--col-minicart-footer) :global(.vtex-flex-layout-0-x-flexColChild--col-minicart-footer) :global(.vtex-minicart-2-x-minicartSummary) :global(.vtex-checkout-summary-0-x-summarySmallContent) :global(.vtex-checkout-summary-0-x-summaryItemContainer) {
    padding: 0;
    margin: 5px 0;
}
