@charset "UTF-8";
:global(.vtex-flex-layout-0-x-flexRow--product-breadcrumb) :global(.vtex-store-components-3-x-container) {
  max-width: 1170px;
  margin: 0 auto; }
  :global(.vtex-flex-layout-0-x-flexRow--product-breadcrumb) :global(.vtex-store-components-3-x-container) :global(.vtex-breadcrumb-1-x-container) {
    padding-bottom: 20px;
    font-weight: 600;
    font-size: 12px; }
    :global(.vtex-flex-layout-0-x-flexRow--product-breadcrumb) :global(.vtex-store-components-3-x-container) :global(.vtex-breadcrumb-1-x-container) :global(.vtex-breadcrumb-1-x-homeLink)::before {
      content: 'Início'; }
    :global(.vtex-flex-layout-0-x-flexRow--product-breadcrumb) :global(.vtex-store-components-3-x-container) :global(.vtex-breadcrumb-1-x-container) :global(.vtex-breadcrumb-1-x-homeLink) .homeIcon {
      display: none; }

:global(.vtex-breadcrumb-1-x-container--breadcrumb-mobile) {
  padding-bottom: 30px;
  font-weight: 600;
  font-size: 12px; }
  :global(.vtex-breadcrumb-1-x-container--breadcrumb-mobile) :global(.vtex-breadcrumb-1-x-link--breadcrumb-mobile)::before {
    content: 'Início'; }
  :global(.vtex-breadcrumb-1-x-container--breadcrumb-mobile) :global(.vtex-breadcrumb-1-x-link--breadcrumb-mobile) .homeIcon {
    display: none; }
