@media (max-width: 768px) {
    .vtex-menu-2-x-menuContainerNav--category-menu-outside :global(.vtex-menu-2-x-menuContainer--category-menu-outside) {
        align-content: space-around;
        justify-content: center;
    }

    .vtex-menu-2-x-menuItem--category-menu-outside :global(.vtex-menu-2-x-styledLinkContainer--category-menu-outside) {
        margin-left: 1rem !important;
        margin-right: 1rem !important;
    }

    .vtex-menu-2-x-menuContainerNav--category-menu-outside-lower :global(.vtex-menu-2-x-menuContainer--category-menu-outside-lower) {
        align-content: space-around;
        justify-content: center;
    }

    .vtex-menu-2-x-menuItem--category-menu-outside-lower :global(.vtex-menu-2-x-styledLinkContainer--category-menu-outside-lower) {
        margin-left: 1rem !important;
        margin-right: 1rem !important;
    }


    .menuContainer--category-menu-outside-lower {
        overflow-x: auto;
    }

    .menuContainer--category-menu-outside-lower :global(.vtex-menu-2-x-menuItem--category-menu-outside-lower):nth-child(3n) :global(.vtex-menu-2-x-styledLinkContent--category-menu-outside-lower) {
        color: #ee7611 !important;
    }

    .menuContainer--category-menu-outside-lower :global(.vtex-menu-2-x-menuItem--category-menu-outside-lower):nth-child(4n) :global(.vtex-menu-2-x-styledLinkContent--category-menu-outside-lower) {
        color: #19a99d !important;
    }
}

.menuContainer--category-menu-outside :global(.vtex-menu-2-x-menuItem--category-menu-outside):nth-child(7n) :global(.vtex-menu-2-x-styledLinkContent--category-menu-outside) {
    color: #ee7611 !important;
}

.menuContainer--category-menu-outside :global(.vtex-menu-2-x-menuItem--category-menu-outside):nth-child(8n) :global(.vtex-menu-2-x-styledLinkContent--category-menu-outside) {
    color: #19a99d !important;
}

.styledLinkContainer--category-menu-outside-blog :global(.vtex-menu-2-x-styledLink--category-menu-outside-blog) {
    color: #ee7611 !important;
    font-weight: 600;
}

.styledLinkContainer--category-menu-outside-blog :global(.vtex-menu-2-x-styledLink--category-menu-outside-blog):hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .styledLink--category-menu-outside-blog {
        font-weight: 400 !important;
    }
}