.logoContainer .logoImage {
    width: 100%;
    max-width: 150px;
}

.searchBarContainer {
    width: 500px;
    padding: 0;
}

.searchBarContainer .searchBarInnerContainer .autoCompleteOuterContainer :global(.vtex-input) :global(.vtex-input-prefix__group) {
    border: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.searchBarContainer .searchBarInnerContainer .autoCompleteOuterContainer :global(.vtex-input) :global(.vtex-input-prefix__group) :global(.vtex-styleguide-9-x-input)::placeholder {
    color: #A0A0A0;
    font-size: 14px;
    font-weight: 500;
}

@media (max-width: 768px) {
    .logoContainer {
        padding: 0;
    }

    .logoContainer .logoImage {
        width: 100%;
        max-width: 100px;
    }

    .searchBarContainer {
        width: auto;
        background-color: white;
        margin-top: -1px;
        box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1);
    }

    .searchBarContainer .searchBarInnerContainer .autoCompleteOuterContainer {
        width: 95%;
        margin: 0 auto;
        padding: 12px 0;
    }

    .searchBarContainer .searchBarInnerContainer .autoCompleteOuterContainer :global(.vtex-input) :global(.vtex-input-prefix__group) {
        border: none;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    }

    .searchBarContainer .searchBarInnerContainer .autoCompleteOuterContainer :global(.vtex-input) :global(.vtex-input-prefix__group) :global(.vtex-styleguide-9-x-input)::placeholder {
        color: #A0A0A0;
        font-size: 14px;
    }
}


/* region club custom page  */

.imageElement--subscription-plan-desktop-img {
    border-radius: 6px;
    opacity: 1;
    transition: ease .3s;
}

.imageElement--subscription-plan-desktop-img:hover {
    opacity: .85;
    transition: ease .3s;
}


.imageElement--subscription-plan-mobile-img {
    border-radius: 6px;
    opacity: 1;
    transition: ease .3s;
}

.imageElement--subscription-plan-mobile-img:focus {
    opacity: .85;
    transition: ease .3s;
}

/* endregion */