:global(.vtex-store__template) {
  overflow: hidden; }
.wrapper--sticky-header--stuck :global(.vtex-store-components-3-x-container),
.wrapper--sticky-header :global(.vtex-store-components-3-x-container) {
  max-width: 1170px;
  margin: 0 auto; }

.wrapper--sticky-header--stuck .container--sticky-header,
.wrapper--sticky-header .container--sticky-header {
  background-color: #ffffff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); }
  .wrapper--sticky-header--stuck .container--sticky-header :global(.vtex-flex-layout-0-x-flexRow--header-desktop) :global(.vtex-flex-layout-0-x-flexRowContent--header-desktop),
  .wrapper--sticky-header .container--sticky-header :global(.vtex-flex-layout-0-x-flexRow--header-desktop) :global(.vtex-flex-layout-0-x-flexRowContent--header-desktop) {
    align-items: center;
    padding-top: 10px; }
    .wrapper--sticky-header--stuck .container--sticky-header :global(.vtex-flex-layout-0-x-flexRow--header-desktop) :global(.vtex-flex-layout-0-x-flexRowContent--header-desktop) :global(.vtex-store-components-3-x-logoContainer),
    .wrapper--sticky-header .container--sticky-header :global(.vtex-flex-layout-0-x-flexRow--header-desktop) :global(.vtex-flex-layout-0-x-flexRowContent--header-desktop) :global(.vtex-store-components-3-x-logoContainer) {
      padding: 0; }
    .wrapper--sticky-header--stuck .container--sticky-header :global(.vtex-flex-layout-0-x-flexRow--header-desktop) :global(.vtex-flex-layout-0-x-flexRowContent--header-desktop) :global(.vtex-login-2-x-container) :global(.vtex-button),
    .wrapper--sticky-header .container--sticky-header :global(.vtex-flex-layout-0-x-flexRow--header-desktop) :global(.vtex-flex-layout-0-x-flexRowContent--header-desktop) :global(.vtex-login-2-x-container) :global(.vtex-button) {
      padding-left: 15px;
      padding-right: 15px; }
      .wrapper--sticky-header--stuck .container--sticky-header :global(.vtex-flex-layout-0-x-flexRow--header-desktop) :global(.vtex-flex-layout-0-x-flexRowContent--header-desktop) :global(.vtex-login-2-x-container) :global(.vtex-button):hover,
      .wrapper--sticky-header .container--sticky-header :global(.vtex-flex-layout-0-x-flexRow--header-desktop) :global(.vtex-flex-layout-0-x-flexRowContent--header-desktop) :global(.vtex-login-2-x-container) :global(.vtex-button):hover {
        background-color: transparent !important; }
      .wrapper--sticky-header--stuck .container--sticky-header :global(.vtex-flex-layout-0-x-flexRow--header-desktop) :global(.vtex-flex-layout-0-x-flexRowContent--header-desktop) :global(.vtex-login-2-x-container) :global(.vtex-button)::before,
      .wrapper--sticky-header .container--sticky-header :global(.vtex-flex-layout-0-x-flexRow--header-desktop) :global(.vtex-flex-layout-0-x-flexRowContent--header-desktop) :global(.vtex-login-2-x-container) :global(.vtex-button)::before {
        content: '';
        background: url("assets/component-header-left-menu/img/icon-user.svg") no-repeat;
        background-size: contain;
        display: block;
        width: 32px;
        height: 32px; }
      .wrapper--sticky-header--stuck .container--sticky-header :global(.vtex-flex-layout-0-x-flexRow--header-desktop) :global(.vtex-flex-layout-0-x-flexRowContent--header-desktop) :global(.vtex-login-2-x-container) :global(.vtex-button) :global(.vtex-button__label),
      .wrapper--sticky-header .container--sticky-header :global(.vtex-flex-layout-0-x-flexRow--header-desktop) :global(.vtex-flex-layout-0-x-flexRowContent--header-desktop) :global(.vtex-login-2-x-container) :global(.vtex-button) :global(.vtex-button__label) {
        display: none; }
        .wrapper--sticky-header--stuck .container--sticky-header :global(.vtex-flex-layout-0-x-flexRow--header-desktop) :global(.vtex-flex-layout-0-x-flexRowContent--header-desktop) :global(.vtex-login-2-x-container) :global(.vtex-button) :global(.vtex-button__label) :global(.vtex-login-2-x-profileIcon),
        .wrapper--sticky-header .container--sticky-header :global(.vtex-flex-layout-0-x-flexRow--header-desktop) :global(.vtex-flex-layout-0-x-flexRowContent--header-desktop) :global(.vtex-login-2-x-container) :global(.vtex-button) :global(.vtex-button__label) :global(.vtex-login-2-x-profileIcon) {
          display: none; }
    .wrapper--sticky-header--stuck .container--sticky-header :global(.vtex-flex-layout-0-x-flexRow--header-desktop) :global(.vtex-flex-layout-0-x-flexRowContent--header-desktop) :global(.vtex-minicart-2-x-minicartWrapperContainer) :global(.vtex-minicart-2-x-minicartContainer) :global(.vtex-minicart-2-x-openIconContainer),
    .wrapper--sticky-header .container--sticky-header :global(.vtex-flex-layout-0-x-flexRow--header-desktop) :global(.vtex-flex-layout-0-x-flexRowContent--header-desktop) :global(.vtex-minicart-2-x-minicartWrapperContainer) :global(.vtex-minicart-2-x-minicartContainer) :global(.vtex-minicart-2-x-openIconContainer) {
      padding: 0; }
      .wrapper--sticky-header--stuck .container--sticky-header :global(.vtex-flex-layout-0-x-flexRow--header-desktop) :global(.vtex-flex-layout-0-x-flexRowContent--header-desktop) :global(.vtex-minicart-2-x-minicartWrapperContainer) :global(.vtex-minicart-2-x-minicartContainer) :global(.vtex-minicart-2-x-openIconContainer) :global(.vtex-button),
      .wrapper--sticky-header .container--sticky-header :global(.vtex-flex-layout-0-x-flexRow--header-desktop) :global(.vtex-flex-layout-0-x-flexRowContent--header-desktop) :global(.vtex-minicart-2-x-minicartWrapperContainer) :global(.vtex-minicart-2-x-minicartContainer) :global(.vtex-minicart-2-x-openIconContainer) :global(.vtex-button) {
        padding-left: 15px;
        padding-right: 15px; }
        .wrapper--sticky-header--stuck .container--sticky-header :global(.vtex-flex-layout-0-x-flexRow--header-desktop) :global(.vtex-flex-layout-0-x-flexRowContent--header-desktop) :global(.vtex-minicart-2-x-minicartWrapperContainer) :global(.vtex-minicart-2-x-minicartContainer) :global(.vtex-minicart-2-x-openIconContainer) :global(.vtex-button):hover,
        .wrapper--sticky-header .container--sticky-header :global(.vtex-flex-layout-0-x-flexRow--header-desktop) :global(.vtex-flex-layout-0-x-flexRowContent--header-desktop) :global(.vtex-minicart-2-x-minicartWrapperContainer) :global(.vtex-minicart-2-x-minicartContainer) :global(.vtex-minicart-2-x-openIconContainer) :global(.vtex-button):hover {
          background-color: transparent !important; }
        .wrapper--sticky-header--stuck .container--sticky-header :global(.vtex-flex-layout-0-x-flexRow--header-desktop) :global(.vtex-flex-layout-0-x-flexRowContent--header-desktop) :global(.vtex-minicart-2-x-minicartWrapperContainer) :global(.vtex-minicart-2-x-minicartContainer) :global(.vtex-minicart-2-x-openIconContainer) :global(.vtex-button)::before,
        .wrapper--sticky-header .container--sticky-header :global(.vtex-flex-layout-0-x-flexRow--header-desktop) :global(.vtex-flex-layout-0-x-flexRowContent--header-desktop) :global(.vtex-minicart-2-x-minicartWrapperContainer) :global(.vtex-minicart-2-x-minicartContainer) :global(.vtex-minicart-2-x-openIconContainer) :global(.vtex-button)::before {
          content: '';
          background: url("assets/component-header-left-menu/img/icon-cart.svg") no-repeat;
          background-size: contain;
          display: block;
          width: 32px;
          height: 32px; }
        .wrapper--sticky-header--stuck .container--sticky-header :global(.vtex-flex-layout-0-x-flexRow--header-desktop) :global(.vtex-flex-layout-0-x-flexRowContent--header-desktop) :global(.vtex-minicart-2-x-minicartWrapperContainer) :global(.vtex-minicart-2-x-minicartContainer) :global(.vtex-minicart-2-x-openIconContainer) :global(.vtex-button) :global(.vtex-button__label) :global(.vtex-minicart-2-x-minicartIconContainer) :global(.vtex-minicart-2-x-cartIcon),
        .wrapper--sticky-header .container--sticky-header :global(.vtex-flex-layout-0-x-flexRow--header-desktop) :global(.vtex-flex-layout-0-x-flexRowContent--header-desktop) :global(.vtex-minicart-2-x-minicartWrapperContainer) :global(.vtex-minicart-2-x-minicartContainer) :global(.vtex-minicart-2-x-openIconContainer) :global(.vtex-button) :global(.vtex-button__label) :global(.vtex-minicart-2-x-minicartIconContainer) :global(.vtex-minicart-2-x-cartIcon) {
          display: none; }
        .wrapper--sticky-header--stuck .container--sticky-header :global(.vtex-flex-layout-0-x-flexRow--header-desktop) :global(.vtex-flex-layout-0-x-flexRowContent--header-desktop) :global(.vtex-minicart-2-x-minicartWrapperContainer) :global(.vtex-minicart-2-x-minicartContainer) :global(.vtex-minicart-2-x-openIconContainer) :global(.vtex-button) :global(.vtex-button__label) :global(.vtex-minicart-2-x-minicartIconContainer) :global(.vtex-minicart-2-x-minicartQuantityBadge),
        .wrapper--sticky-header .container--sticky-header :global(.vtex-flex-layout-0-x-flexRow--header-desktop) :global(.vtex-flex-layout-0-x-flexRowContent--header-desktop) :global(.vtex-minicart-2-x-minicartWrapperContainer) :global(.vtex-minicart-2-x-minicartContainer) :global(.vtex-minicart-2-x-openIconContainer) :global(.vtex-button) :global(.vtex-button__label) :global(.vtex-minicart-2-x-minicartIconContainer) :global(.vtex-minicart-2-x-minicartQuantityBadge) {
          top: -35px !important;
          right: -21px !important;
          font-size: 15px;
          font-weight: 600;
          background-color: #E11220; }
  .wrapper--sticky-header--stuck .container--sticky-header :global(.vtex-flex-layout-0-x-flexRow--header-menu) :global(.vtex-store-components-3-x-container),
  .wrapper--sticky-header .container--sticky-header :global(.vtex-flex-layout-0-x-flexRow--header-menu) :global(.vtex-store-components-3-x-container) {
    border: none;
    justify-content: flex-start;
    padding: 0; }
    .wrapper--sticky-header--stuck .container--sticky-header :global(.vtex-flex-layout-0-x-flexRow--header-menu) :global(.vtex-store-components-3-x-container) :global(.vtex-flex-layout-0-x-flexRowContent--header-menu),
    .wrapper--sticky-header .container--sticky-header :global(.vtex-flex-layout-0-x-flexRow--header-menu) :global(.vtex-store-components-3-x-container) :global(.vtex-flex-layout-0-x-flexRowContent--header-menu) {
      align-items: center;
      padding: 5px 0;
      background-color: white; }
      .wrapper--sticky-header--stuck .container--sticky-header :global(.vtex-flex-layout-0-x-flexRow--header-menu) :global(.vtex-store-components-3-x-container) :global(.vtex-flex-layout-0-x-flexRowContent--header-menu) :global(.vtex-flex-layout-0-x-stretchChildrenWidth),
      .wrapper--sticky-header .container--sticky-header :global(.vtex-flex-layout-0-x-flexRow--header-menu) :global(.vtex-store-components-3-x-container) :global(.vtex-flex-layout-0-x-flexRowContent--header-menu) :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
        width: auto !important; }
        .wrapper--sticky-header--stuck .container--sticky-header :global(.vtex-flex-layout-0-x-flexRow--header-menu) :global(.vtex-store-components-3-x-container) :global(.vtex-flex-layout-0-x-flexRowContent--header-menu) :global(.vtex-flex-layout-0-x-stretchChildrenWidth) :global(.vtex-menu-2-x-menuItem--all-department-desktop),
        .wrapper--sticky-header .container--sticky-header :global(.vtex-flex-layout-0-x-flexRow--header-menu) :global(.vtex-store-components-3-x-container) :global(.vtex-flex-layout-0-x-flexRowContent--header-menu) :global(.vtex-flex-layout-0-x-stretchChildrenWidth) :global(.vtex-menu-2-x-menuItem--all-department-desktop) {
          position: relative; }
          .wrapper--sticky-header--stuck .container--sticky-header :global(.vtex-flex-layout-0-x-flexRow--header-menu) :global(.vtex-store-components-3-x-container) :global(.vtex-flex-layout-0-x-flexRowContent--header-menu) :global(.vtex-flex-layout-0-x-stretchChildrenWidth) :global(.vtex-menu-2-x-menuItem--all-department-desktop) :global(.vtex-menu-2-x-styledLinkContainer--all-department-desktop),
          .wrapper--sticky-header .container--sticky-header :global(.vtex-flex-layout-0-x-flexRow--header-menu) :global(.vtex-store-components-3-x-container) :global(.vtex-flex-layout-0-x-flexRowContent--header-menu) :global(.vtex-flex-layout-0-x-stretchChildrenWidth) :global(.vtex-menu-2-x-menuItem--all-department-desktop) :global(.vtex-menu-2-x-styledLinkContainer--all-department-desktop) {
            padding: 10px;
            background-color: #EDEDED;
            border-radius: 8px;
            margin-left: 0; }
            .wrapper--sticky-header--stuck .container--sticky-header :global(.vtex-flex-layout-0-x-flexRow--header-menu) :global(.vtex-store-components-3-x-container) :global(.vtex-flex-layout-0-x-flexRowContent--header-menu) :global(.vtex-flex-layout-0-x-stretchChildrenWidth) :global(.vtex-menu-2-x-menuItem--all-department-desktop) :global(.vtex-menu-2-x-styledLinkContainer--all-department-desktop) :global(.vtex-menu-2-x-styledLink--all-department-desktop) :global(.vtex-menu-2-x-styledLinkContent--all-department-desktop),
            .wrapper--sticky-header .container--sticky-header :global(.vtex-flex-layout-0-x-flexRow--header-menu) :global(.vtex-store-components-3-x-container) :global(.vtex-flex-layout-0-x-flexRowContent--header-menu) :global(.vtex-flex-layout-0-x-stretchChildrenWidth) :global(.vtex-menu-2-x-menuItem--all-department-desktop) :global(.vtex-menu-2-x-styledLinkContainer--all-department-desktop) :global(.vtex-menu-2-x-styledLink--all-department-desktop) :global(.vtex-menu-2-x-styledLinkContent--all-department-desktop) {
              display: flex;
              align-items: center;
              justify-content: flex-start;
              color: #19A99D;
              font-weight: 500; }
              .wrapper--sticky-header--stuck .container--sticky-header :global(.vtex-flex-layout-0-x-flexRow--header-menu) :global(.vtex-store-components-3-x-container) :global(.vtex-flex-layout-0-x-flexRowContent--header-menu) :global(.vtex-flex-layout-0-x-stretchChildrenWidth) :global(.vtex-menu-2-x-menuItem--all-department-desktop) :global(.vtex-menu-2-x-styledLinkContainer--all-department-desktop) :global(.vtex-menu-2-x-styledLink--all-department-desktop) :global(.vtex-menu-2-x-styledLinkContent--all-department-desktop)::before,
              .wrapper--sticky-header .container--sticky-header :global(.vtex-flex-layout-0-x-flexRow--header-menu) :global(.vtex-store-components-3-x-container) :global(.vtex-flex-layout-0-x-flexRowContent--header-menu) :global(.vtex-flex-layout-0-x-stretchChildrenWidth) :global(.vtex-menu-2-x-menuItem--all-department-desktop) :global(.vtex-menu-2-x-styledLinkContainer--all-department-desktop) :global(.vtex-menu-2-x-styledLink--all-department-desktop) :global(.vtex-menu-2-x-styledLinkContent--all-department-desktop)::before {
                content: '';
                background: url("assets/component-header-left-menu/img/burguer.svg") no-repeat;
                background-size: contain;
                display: inline-block;
                width: 18px;
                height: 12px;
                margin-right: 5px; }
              .wrapper--sticky-header--stuck .container--sticky-header :global(.vtex-flex-layout-0-x-flexRow--header-menu) :global(.vtex-store-components-3-x-container) :global(.vtex-flex-layout-0-x-flexRowContent--header-menu) :global(.vtex-flex-layout-0-x-stretchChildrenWidth) :global(.vtex-menu-2-x-menuItem--all-department-desktop) :global(.vtex-menu-2-x-styledLinkContainer--all-department-desktop) :global(.vtex-menu-2-x-styledLink--all-department-desktop) :global(.vtex-menu-2-x-styledLinkContent--all-department-desktop)::after,
              .wrapper--sticky-header .container--sticky-header :global(.vtex-flex-layout-0-x-flexRow--header-menu) :global(.vtex-store-components-3-x-container) :global(.vtex-flex-layout-0-x-flexRowContent--header-menu) :global(.vtex-flex-layout-0-x-stretchChildrenWidth) :global(.vtex-menu-2-x-menuItem--all-department-desktop) :global(.vtex-menu-2-x-styledLinkContainer--all-department-desktop) :global(.vtex-menu-2-x-styledLink--all-department-desktop) :global(.vtex-menu-2-x-styledLinkContent--all-department-desktop)::after {
                content: '';
                background: url("assets/component-header-left-menu/img/arrow.svg") no-repeat;
                background-size: contain;
                display: inline-block;
                width: 12px;
                height: 16px;
                margin-left: 5px; }
          .wrapper--sticky-header--stuck .container--sticky-header :global(.vtex-flex-layout-0-x-flexRow--header-menu) :global(.vtex-store-components-3-x-container) :global(.vtex-flex-layout-0-x-flexRowContent--header-menu) :global(.vtex-flex-layout-0-x-stretchChildrenWidth) :global(.vtex-menu-2-x-menuItem--all-department-desktop) :global(.vtex-menu-2-x-submenuContainer),
          .wrapper--sticky-header .container--sticky-header :global(.vtex-flex-layout-0-x-flexRow--header-menu) :global(.vtex-store-components-3-x-container) :global(.vtex-flex-layout-0-x-flexRowContent--header-menu) :global(.vtex-flex-layout-0-x-stretchChildrenWidth) :global(.vtex-menu-2-x-menuItem--all-department-desktop) :global(.vtex-menu-2-x-submenuContainer) {
            position: unset !important; }
            .wrapper--sticky-header--stuck .container--sticky-header :global(.vtex-flex-layout-0-x-flexRow--header-menu) :global(.vtex-store-components-3-x-container) :global(.vtex-flex-layout-0-x-flexRowContent--header-menu) :global(.vtex-flex-layout-0-x-stretchChildrenWidth) :global(.vtex-menu-2-x-menuItem--all-department-desktop) :global(.vtex-menu-2-x-submenuContainer) :global(.vtex-menu-2-x-submenuWrapper),
            .wrapper--sticky-header .container--sticky-header :global(.vtex-flex-layout-0-x-flexRow--header-menu) :global(.vtex-store-components-3-x-container) :global(.vtex-flex-layout-0-x-flexRowContent--header-menu) :global(.vtex-flex-layout-0-x-stretchChildrenWidth) :global(.vtex-menu-2-x-menuItem--all-department-desktop) :global(.vtex-menu-2-x-submenuContainer) :global(.vtex-menu-2-x-submenuWrapper) {
              border: none;
              padding: 0;
              box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1);
              margin-left: 0;
              right: auto !important;
              border-bottom-left-radius: 8px;
              border-top-left-radius: 8px;
              padding: 0;
              position: absolute !important;
              background-color: white; }
              .wrapper--sticky-header--stuck .container--sticky-header :global(.vtex-flex-layout-0-x-flexRow--header-menu) :global(.vtex-store-components-3-x-container) :global(.vtex-flex-layout-0-x-flexRowContent--header-menu) :global(.vtex-flex-layout-0-x-stretchChildrenWidth) :global(.vtex-menu-2-x-menuItem--all-department-desktop) :global(.vtex-menu-2-x-submenuContainer) :global(.vtex-menu-2-x-submenuWrapper) :global(.vtex-menu-2-x-submenu),
              .wrapper--sticky-header .container--sticky-header :global(.vtex-flex-layout-0-x-flexRow--header-menu) :global(.vtex-store-components-3-x-container) :global(.vtex-flex-layout-0-x-flexRowContent--header-menu) :global(.vtex-flex-layout-0-x-stretchChildrenWidth) :global(.vtex-menu-2-x-menuItem--all-department-desktop) :global(.vtex-menu-2-x-submenuContainer) :global(.vtex-menu-2-x-submenuWrapper) :global(.vtex-menu-2-x-submenu) {
                justify-content: left; }
                .wrapper--sticky-header--stuck .container--sticky-header :global(.vtex-flex-layout-0-x-flexRow--header-menu) :global(.vtex-store-components-3-x-container) :global(.vtex-flex-layout-0-x-flexRowContent--header-menu) :global(.vtex-flex-layout-0-x-stretchChildrenWidth) :global(.vtex-menu-2-x-menuItem--all-department-desktop) :global(.vtex-menu-2-x-submenuContainer) :global(.vtex-menu-2-x-submenuWrapper) :global(.vtex-menu-2-x-submenu) :global(.vtex-menu-2-x-menuContainerNav) :global(.vtex-menu-2-x-menuContainer) :global(.vtex-category-menu-2-x-container),
                .wrapper--sticky-header .container--sticky-header :global(.vtex-flex-layout-0-x-flexRow--header-menu) :global(.vtex-store-components-3-x-container) :global(.vtex-flex-layout-0-x-flexRowContent--header-menu) :global(.vtex-flex-layout-0-x-stretchChildrenWidth) :global(.vtex-menu-2-x-menuItem--all-department-desktop) :global(.vtex-menu-2-x-submenuContainer) :global(.vtex-menu-2-x-submenuWrapper) :global(.vtex-menu-2-x-submenu) :global(.vtex-menu-2-x-menuContainerNav) :global(.vtex-menu-2-x-menuContainer) :global(.vtex-category-menu-2-x-container) {
                  border-radius: 8px;
                  background: none; }
                  .wrapper--sticky-header--stuck .container--sticky-header :global(.vtex-flex-layout-0-x-flexRow--header-menu) :global(.vtex-store-components-3-x-container) :global(.vtex-flex-layout-0-x-flexRowContent--header-menu) :global(.vtex-flex-layout-0-x-stretchChildrenWidth) :global(.vtex-menu-2-x-menuItem--all-department-desktop) :global(.vtex-menu-2-x-submenuContainer) :global(.vtex-menu-2-x-submenuWrapper) :global(.vtex-menu-2-x-submenu) :global(.vtex-menu-2-x-menuContainerNav) :global(.vtex-menu-2-x-menuContainer) :global(.vtex-category-menu-2-x-container) :global(.vtex-category-menu-2-x-section--department) :global(.vtex-category-menu-2-x-departmentList),
                  .wrapper--sticky-header .container--sticky-header :global(.vtex-flex-layout-0-x-flexRow--header-menu) :global(.vtex-store-components-3-x-container) :global(.vtex-flex-layout-0-x-flexRowContent--header-menu) :global(.vtex-flex-layout-0-x-stretchChildrenWidth) :global(.vtex-menu-2-x-menuItem--all-department-desktop) :global(.vtex-menu-2-x-submenuContainer) :global(.vtex-menu-2-x-submenuWrapper) :global(.vtex-menu-2-x-submenu) :global(.vtex-menu-2-x-menuContainerNav) :global(.vtex-menu-2-x-menuContainer) :global(.vtex-category-menu-2-x-container) :global(.vtex-category-menu-2-x-section--department) :global(.vtex-category-menu-2-x-departmentList) {
                    width: 100%;
                    display: block;
                    height: auto; }
                    .wrapper--sticky-header--stuck .container--sticky-header :global(.vtex-flex-layout-0-x-flexRow--header-menu) :global(.vtex-store-components-3-x-container) :global(.vtex-flex-layout-0-x-flexRowContent--header-menu) :global(.vtex-flex-layout-0-x-stretchChildrenWidth) :global(.vtex-menu-2-x-menuItem--all-department-desktop) :global(.vtex-menu-2-x-submenuContainer) :global(.vtex-menu-2-x-submenuWrapper) :global(.vtex-menu-2-x-submenu) :global(.vtex-menu-2-x-menuContainerNav) :global(.vtex-menu-2-x-menuContainer) :global(.vtex-category-menu-2-x-container) :global(.vtex-category-menu-2-x-section--department) :global(.vtex-category-menu-2-x-departmentList) :global(.vtex-category-menu-2-x-itemContainer--department),
                    .wrapper--sticky-header .container--sticky-header :global(.vtex-flex-layout-0-x-flexRow--header-menu) :global(.vtex-store-components-3-x-container) :global(.vtex-flex-layout-0-x-flexRowContent--header-menu) :global(.vtex-flex-layout-0-x-stretchChildrenWidth) :global(.vtex-menu-2-x-menuItem--all-department-desktop) :global(.vtex-menu-2-x-submenuContainer) :global(.vtex-menu-2-x-submenuWrapper) :global(.vtex-menu-2-x-submenu) :global(.vtex-menu-2-x-menuContainerNav) :global(.vtex-menu-2-x-menuContainer) :global(.vtex-category-menu-2-x-container) :global(.vtex-category-menu-2-x-section--department) :global(.vtex-category-menu-2-x-departmentList) :global(.vtex-category-menu-2-x-itemContainer--department) {
                      position: unset;
                      width: 250px; }
                      .wrapper--sticky-header--stuck .container--sticky-header :global(.vtex-flex-layout-0-x-flexRow--header-menu) :global(.vtex-store-components-3-x-container) :global(.vtex-flex-layout-0-x-flexRowContent--header-menu) :global(.vtex-flex-layout-0-x-stretchChildrenWidth) :global(.vtex-menu-2-x-menuItem--all-department-desktop) :global(.vtex-menu-2-x-submenuContainer) :global(.vtex-menu-2-x-submenuWrapper) :global(.vtex-menu-2-x-submenu) :global(.vtex-menu-2-x-menuContainerNav) :global(.vtex-menu-2-x-menuContainer) :global(.vtex-category-menu-2-x-container) :global(.vtex-category-menu-2-x-section--department) :global(.vtex-category-menu-2-x-departmentList) :global(.vtex-category-menu-2-x-itemContainer--department):hover,
                      .wrapper--sticky-header .container--sticky-header :global(.vtex-flex-layout-0-x-flexRow--header-menu) :global(.vtex-store-components-3-x-container) :global(.vtex-flex-layout-0-x-flexRowContent--header-menu) :global(.vtex-flex-layout-0-x-stretchChildrenWidth) :global(.vtex-menu-2-x-menuItem--all-department-desktop) :global(.vtex-menu-2-x-submenuContainer) :global(.vtex-menu-2-x-submenuWrapper) :global(.vtex-menu-2-x-submenu) :global(.vtex-menu-2-x-menuContainerNav) :global(.vtex-menu-2-x-menuContainer) :global(.vtex-category-menu-2-x-container) :global(.vtex-category-menu-2-x-section--department) :global(.vtex-category-menu-2-x-departmentList) :global(.vtex-category-menu-2-x-itemContainer--department):hover {
                        background-color: #EDEDED; }
                      .wrapper--sticky-header--stuck .container--sticky-header :global(.vtex-flex-layout-0-x-flexRow--header-menu) :global(.vtex-store-components-3-x-container) :global(.vtex-flex-layout-0-x-flexRowContent--header-menu) :global(.vtex-flex-layout-0-x-stretchChildrenWidth) :global(.vtex-menu-2-x-menuItem--all-department-desktop) :global(.vtex-menu-2-x-submenuContainer) :global(.vtex-menu-2-x-submenuWrapper) :global(.vtex-menu-2-x-submenu) :global(.vtex-menu-2-x-menuContainerNav) :global(.vtex-menu-2-x-menuContainer) :global(.vtex-category-menu-2-x-container) :global(.vtex-category-menu-2-x-section--department) :global(.vtex-category-menu-2-x-departmentList) :global(.vtex-category-menu-2-x-itemContainer--department):first-child,
                      .wrapper--sticky-header .container--sticky-header :global(.vtex-flex-layout-0-x-flexRow--header-menu) :global(.vtex-store-components-3-x-container) :global(.vtex-flex-layout-0-x-flexRowContent--header-menu) :global(.vtex-flex-layout-0-x-stretchChildrenWidth) :global(.vtex-menu-2-x-menuItem--all-department-desktop) :global(.vtex-menu-2-x-submenuContainer) :global(.vtex-menu-2-x-submenuWrapper) :global(.vtex-menu-2-x-submenu) :global(.vtex-menu-2-x-menuContainerNav) :global(.vtex-menu-2-x-menuContainer) :global(.vtex-category-menu-2-x-container) :global(.vtex-category-menu-2-x-section--department) :global(.vtex-category-menu-2-x-departmentList) :global(.vtex-category-menu-2-x-itemContainer--department):first-child {
                        display: none; }
                      .wrapper--sticky-header--stuck .container--sticky-header :global(.vtex-flex-layout-0-x-flexRow--header-menu) :global(.vtex-store-components-3-x-container) :global(.vtex-flex-layout-0-x-flexRowContent--header-menu) :global(.vtex-flex-layout-0-x-stretchChildrenWidth) :global(.vtex-menu-2-x-menuItem--all-department-desktop) :global(.vtex-menu-2-x-submenuContainer) :global(.vtex-menu-2-x-submenuWrapper) :global(.vtex-menu-2-x-submenu) :global(.vtex-menu-2-x-menuContainerNav) :global(.vtex-menu-2-x-menuContainer) :global(.vtex-category-menu-2-x-container) :global(.vtex-category-menu-2-x-section--department) :global(.vtex-category-menu-2-x-departmentList) :global(.vtex-category-menu-2-x-itemContainer--department) :global(.vtex-category-menu-2-x-departmentLink),
                      .wrapper--sticky-header .container--sticky-header :global(.vtex-flex-layout-0-x-flexRow--header-menu) :global(.vtex-store-components-3-x-container) :global(.vtex-flex-layout-0-x-flexRowContent--header-menu) :global(.vtex-flex-layout-0-x-stretchChildrenWidth) :global(.vtex-menu-2-x-menuItem--all-department-desktop) :global(.vtex-menu-2-x-submenuContainer) :global(.vtex-menu-2-x-submenuWrapper) :global(.vtex-menu-2-x-submenu) :global(.vtex-menu-2-x-menuContainerNav) :global(.vtex-menu-2-x-menuContainer) :global(.vtex-category-menu-2-x-container) :global(.vtex-category-menu-2-x-section--department) :global(.vtex-category-menu-2-x-departmentList) :global(.vtex-category-menu-2-x-itemContainer--department) :global(.vtex-category-menu-2-x-departmentLink) {
                        margin: 0;
                        padding: 10px;
                        color: black;
                        text-align: start;
                        width: 100%;
                        font-weight: 500;
                        border: none !important; }
                        .wrapper--sticky-header--stuck .container--sticky-header :global(.vtex-flex-layout-0-x-flexRow--header-menu) :global(.vtex-store-components-3-x-container) :global(.vtex-flex-layout-0-x-flexRowContent--header-menu) :global(.vtex-flex-layout-0-x-stretchChildrenWidth) :global(.vtex-menu-2-x-menuItem--all-department-desktop) :global(.vtex-menu-2-x-submenuContainer) :global(.vtex-menu-2-x-submenuWrapper) :global(.vtex-menu-2-x-submenu) :global(.vtex-menu-2-x-menuContainerNav) :global(.vtex-menu-2-x-menuContainer) :global(.vtex-category-menu-2-x-container) :global(.vtex-category-menu-2-x-section--department) :global(.vtex-category-menu-2-x-departmentList) :global(.vtex-category-menu-2-x-itemContainer--department) :global(.vtex-category-menu-2-x-departmentLink):hover,
                        .wrapper--sticky-header .container--sticky-header :global(.vtex-flex-layout-0-x-flexRow--header-menu) :global(.vtex-store-components-3-x-container) :global(.vtex-flex-layout-0-x-flexRowContent--header-menu) :global(.vtex-flex-layout-0-x-stretchChildrenWidth) :global(.vtex-menu-2-x-menuItem--all-department-desktop) :global(.vtex-menu-2-x-submenuContainer) :global(.vtex-menu-2-x-submenuWrapper) :global(.vtex-menu-2-x-submenu) :global(.vtex-menu-2-x-menuContainerNav) :global(.vtex-menu-2-x-menuContainer) :global(.vtex-category-menu-2-x-container) :global(.vtex-category-menu-2-x-section--department) :global(.vtex-category-menu-2-x-departmentList) :global(.vtex-category-menu-2-x-itemContainer--department) :global(.vtex-category-menu-2-x-departmentLink):hover {
                          border: none;
                          color: #19a99d;
                          border-radius: 8px;
                          background-color: #EDEDED; }
                      .wrapper--sticky-header--stuck .container--sticky-header :global(.vtex-flex-layout-0-x-flexRow--header-menu) :global(.vtex-store-components-3-x-container) :global(.vtex-flex-layout-0-x-flexRowContent--header-menu) :global(.vtex-flex-layout-0-x-stretchChildrenWidth) :global(.vtex-menu-2-x-menuItem--all-department-desktop) :global(.vtex-menu-2-x-submenuContainer) :global(.vtex-menu-2-x-submenuWrapper) :global(.vtex-menu-2-x-submenu) :global(.vtex-menu-2-x-menuContainerNav) :global(.vtex-menu-2-x-menuContainer) :global(.vtex-category-menu-2-x-container) :global(.vtex-category-menu-2-x-section--department) :global(.vtex-category-menu-2-x-departmentList) :global(.vtex-category-menu-2-x-itemContainer--department) :global(.vtex-category-menu-2-x-itemContainer--category),
                      .wrapper--sticky-header .container--sticky-header :global(.vtex-flex-layout-0-x-flexRow--header-menu) :global(.vtex-store-components-3-x-container) :global(.vtex-flex-layout-0-x-flexRowContent--header-menu) :global(.vtex-flex-layout-0-x-stretchChildrenWidth) :global(.vtex-menu-2-x-menuItem--all-department-desktop) :global(.vtex-menu-2-x-submenuContainer) :global(.vtex-menu-2-x-submenuWrapper) :global(.vtex-menu-2-x-submenu) :global(.vtex-menu-2-x-menuContainerNav) :global(.vtex-menu-2-x-menuContainer) :global(.vtex-category-menu-2-x-container) :global(.vtex-category-menu-2-x-section--department) :global(.vtex-category-menu-2-x-departmentList) :global(.vtex-category-menu-2-x-itemContainer--department) :global(.vtex-category-menu-2-x-itemContainer--category) {
                        top: 0 !important;
                        left: 100%;
                        position: absolute;
                        border: none;
                        height: 100% !important;
                        max-height: 100%;
                        box-shadow: 4px 0 4px rgba(0, 0, 0, 0.1);
                        border-top-right-radius: 8px;
                        border-bottom-right-radius: 8px;
                        border-left: 1px solid #D8D8D8;
                        padding: 0;
                        background-color: #EDEDED;
                        width: auto !important;
                        overflow: scroll; }
                        .wrapper--sticky-header--stuck .container--sticky-header :global(.vtex-flex-layout-0-x-flexRow--header-menu) :global(.vtex-store-components-3-x-container) :global(.vtex-flex-layout-0-x-flexRowContent--header-menu) :global(.vtex-flex-layout-0-x-stretchChildrenWidth) :global(.vtex-menu-2-x-menuItem--all-department-desktop) :global(.vtex-menu-2-x-submenuContainer) :global(.vtex-menu-2-x-submenuWrapper) :global(.vtex-menu-2-x-submenu) :global(.vtex-menu-2-x-menuContainerNav) :global(.vtex-menu-2-x-menuContainer) :global(.vtex-category-menu-2-x-container) :global(.vtex-category-menu-2-x-section--department) :global(.vtex-category-menu-2-x-departmentList) :global(.vtex-category-menu-2-x-itemContainer--department) :global(.vtex-category-menu-2-x-itemContainer--category) :global(.vtex-category-menu-2-x-section--category) :global(.vtex-category-menu-2-x-submenuList),
                        .wrapper--sticky-header .container--sticky-header :global(.vtex-flex-layout-0-x-flexRow--header-menu) :global(.vtex-store-components-3-x-container) :global(.vtex-flex-layout-0-x-flexRowContent--header-menu) :global(.vtex-flex-layout-0-x-stretchChildrenWidth) :global(.vtex-menu-2-x-menuItem--all-department-desktop) :global(.vtex-menu-2-x-submenuContainer) :global(.vtex-menu-2-x-submenuWrapper) :global(.vtex-menu-2-x-submenu) :global(.vtex-menu-2-x-menuContainerNav) :global(.vtex-menu-2-x-menuContainer) :global(.vtex-category-menu-2-x-container) :global(.vtex-category-menu-2-x-section--department) :global(.vtex-category-menu-2-x-departmentList) :global(.vtex-category-menu-2-x-itemContainer--department) :global(.vtex-category-menu-2-x-itemContainer--category) :global(.vtex-category-menu-2-x-section--category) :global(.vtex-category-menu-2-x-submenuList) {
                          display: grid;
                          grid-template-columns: repeat(3, 1fr); }
                          .wrapper--sticky-header--stuck .container--sticky-header :global(.vtex-flex-layout-0-x-flexRow--header-menu) :global(.vtex-store-components-3-x-container) :global(.vtex-flex-layout-0-x-flexRowContent--header-menu) :global(.vtex-flex-layout-0-x-stretchChildrenWidth) :global(.vtex-menu-2-x-menuItem--all-department-desktop) :global(.vtex-menu-2-x-submenuContainer) :global(.vtex-menu-2-x-submenuWrapper) :global(.vtex-menu-2-x-submenu) :global(.vtex-menu-2-x-menuContainerNav) :global(.vtex-menu-2-x-menuContainer) :global(.vtex-category-menu-2-x-container) :global(.vtex-category-menu-2-x-section--department) :global(.vtex-category-menu-2-x-departmentList) :global(.vtex-category-menu-2-x-itemContainer--department) :global(.vtex-category-menu-2-x-itemContainer--category) :global(.vtex-category-menu-2-x-section--category) :global(.vtex-category-menu-2-x-submenuList) :global(.vtex-category-menu-2-x-submenuItem) :global(.vtex-category-menu-2-x-firstLevelList),
                          .wrapper--sticky-header .container--sticky-header :global(.vtex-flex-layout-0-x-flexRow--header-menu) :global(.vtex-store-components-3-x-container) :global(.vtex-flex-layout-0-x-flexRowContent--header-menu) :global(.vtex-flex-layout-0-x-stretchChildrenWidth) :global(.vtex-menu-2-x-menuItem--all-department-desktop) :global(.vtex-menu-2-x-submenuContainer) :global(.vtex-menu-2-x-submenuWrapper) :global(.vtex-menu-2-x-submenu) :global(.vtex-menu-2-x-menuContainerNav) :global(.vtex-menu-2-x-menuContainer) :global(.vtex-category-menu-2-x-container) :global(.vtex-category-menu-2-x-section--department) :global(.vtex-category-menu-2-x-departmentList) :global(.vtex-category-menu-2-x-itemContainer--department) :global(.vtex-category-menu-2-x-itemContainer--category) :global(.vtex-category-menu-2-x-section--category) :global(.vtex-category-menu-2-x-submenuList) :global(.vtex-category-menu-2-x-submenuItem) :global(.vtex-category-menu-2-x-firstLevelList) {
                            padding: 10px; }
                            .wrapper--sticky-header--stuck .container--sticky-header :global(.vtex-flex-layout-0-x-flexRow--header-menu) :global(.vtex-store-components-3-x-container) :global(.vtex-flex-layout-0-x-flexRowContent--header-menu) :global(.vtex-flex-layout-0-x-stretchChildrenWidth) :global(.vtex-menu-2-x-menuItem--all-department-desktop) :global(.vtex-menu-2-x-submenuContainer) :global(.vtex-menu-2-x-submenuWrapper) :global(.vtex-menu-2-x-submenu) :global(.vtex-menu-2-x-menuContainerNav) :global(.vtex-menu-2-x-menuContainer) :global(.vtex-category-menu-2-x-container) :global(.vtex-category-menu-2-x-section--department) :global(.vtex-category-menu-2-x-departmentList) :global(.vtex-category-menu-2-x-itemContainer--department) :global(.vtex-category-menu-2-x-itemContainer--category) :global(.vtex-category-menu-2-x-section--category) :global(.vtex-category-menu-2-x-submenuList) :global(.vtex-category-menu-2-x-submenuItem) :global(.vtex-category-menu-2-x-firstLevelList) :global(.vtex-category-menu-2-x-firstLevelLinkContainer) :global(.vtex-category-menu-2-x-firstLevelLink),
                            .wrapper--sticky-header .container--sticky-header :global(.vtex-flex-layout-0-x-flexRow--header-menu) :global(.vtex-store-components-3-x-container) :global(.vtex-flex-layout-0-x-flexRowContent--header-menu) :global(.vtex-flex-layout-0-x-stretchChildrenWidth) :global(.vtex-menu-2-x-menuItem--all-department-desktop) :global(.vtex-menu-2-x-submenuContainer) :global(.vtex-menu-2-x-submenuWrapper) :global(.vtex-menu-2-x-submenu) :global(.vtex-menu-2-x-menuContainerNav) :global(.vtex-menu-2-x-menuContainer) :global(.vtex-category-menu-2-x-container) :global(.vtex-category-menu-2-x-section--department) :global(.vtex-category-menu-2-x-departmentList) :global(.vtex-category-menu-2-x-itemContainer--department) :global(.vtex-category-menu-2-x-itemContainer--category) :global(.vtex-category-menu-2-x-section--category) :global(.vtex-category-menu-2-x-submenuList) :global(.vtex-category-menu-2-x-submenuItem) :global(.vtex-category-menu-2-x-firstLevelList) :global(.vtex-category-menu-2-x-firstLevelLinkContainer) :global(.vtex-category-menu-2-x-firstLevelLink) {
                              margin: 0;
                              padding: 10px;
                              color: black;
                              text-align: start;
                              width: 100%;
                              font-size: 16px;
                              font-weight: 500; }
                            .wrapper--sticky-header--stuck .container--sticky-header :global(.vtex-flex-layout-0-x-flexRow--header-menu) :global(.vtex-store-components-3-x-container) :global(.vtex-flex-layout-0-x-flexRowContent--header-menu) :global(.vtex-flex-layout-0-x-stretchChildrenWidth) :global(.vtex-menu-2-x-menuItem--all-department-desktop) :global(.vtex-menu-2-x-submenuContainer) :global(.vtex-menu-2-x-submenuWrapper) :global(.vtex-menu-2-x-submenu) :global(.vtex-menu-2-x-menuContainerNav) :global(.vtex-menu-2-x-menuContainer) :global(.vtex-category-menu-2-x-container) :global(.vtex-category-menu-2-x-section--department) :global(.vtex-category-menu-2-x-departmentList) :global(.vtex-category-menu-2-x-itemContainer--department) :global(.vtex-category-menu-2-x-itemContainer--category) :global(.vtex-category-menu-2-x-section--category) :global(.vtex-category-menu-2-x-submenuList) :global(.vtex-category-menu-2-x-submenuItem) :global(.vtex-category-menu-2-x-firstLevelList) :global(.vtex-category-menu-2-x-secondLevelLinkContainer) :global(.vtex-category-menu-2-x-secondLevelLink),
                            .wrapper--sticky-header .container--sticky-header :global(.vtex-flex-layout-0-x-flexRow--header-menu) :global(.vtex-store-components-3-x-container) :global(.vtex-flex-layout-0-x-flexRowContent--header-menu) :global(.vtex-flex-layout-0-x-stretchChildrenWidth) :global(.vtex-menu-2-x-menuItem--all-department-desktop) :global(.vtex-menu-2-x-submenuContainer) :global(.vtex-menu-2-x-submenuWrapper) :global(.vtex-menu-2-x-submenu) :global(.vtex-menu-2-x-menuContainerNav) :global(.vtex-menu-2-x-menuContainer) :global(.vtex-category-menu-2-x-container) :global(.vtex-category-menu-2-x-section--department) :global(.vtex-category-menu-2-x-departmentList) :global(.vtex-category-menu-2-x-itemContainer--department) :global(.vtex-category-menu-2-x-itemContainer--category) :global(.vtex-category-menu-2-x-section--category) :global(.vtex-category-menu-2-x-submenuList) :global(.vtex-category-menu-2-x-submenuItem) :global(.vtex-category-menu-2-x-firstLevelList) :global(.vtex-category-menu-2-x-secondLevelLinkContainer) :global(.vtex-category-menu-2-x-secondLevelLink) {
                              margin: 0;
                              padding-left: 10px;
                              text-align: start;
                              width: 100%;
                              font-size: 14px; }
        .wrapper--sticky-header--stuck .container--sticky-header :global(.vtex-flex-layout-0-x-flexRow--header-menu) :global(.vtex-store-components-3-x-container) :global(.vtex-flex-layout-0-x-flexRowContent--header-menu) :global(.vtex-flex-layout-0-x-stretchChildrenWidth) :global(.vtex-menu-2-x-menuContainerNav--category-menu-outside) :global(.vtex-menu-2-x-menuContainer--category-menu-outside) :global(.vtex-menu-2-x-menuItem--category-menu-outside) :global(.vtex-menu-2-x-styledLinkContainer--category-menu-outside),
        .wrapper--sticky-header .container--sticky-header :global(.vtex-flex-layout-0-x-flexRow--header-menu) :global(.vtex-store-components-3-x-container) :global(.vtex-flex-layout-0-x-flexRowContent--header-menu) :global(.vtex-flex-layout-0-x-stretchChildrenWidth) :global(.vtex-menu-2-x-menuContainerNav--category-menu-outside) :global(.vtex-menu-2-x-menuContainer--category-menu-outside) :global(.vtex-menu-2-x-menuItem--category-menu-outside) :global(.vtex-menu-2-x-styledLinkContainer--category-menu-outside) {
          margin-left: 15px;
          margin-right: 15px; }
          .wrapper--sticky-header--stuck .container--sticky-header :global(.vtex-flex-layout-0-x-flexRow--header-menu) :global(.vtex-store-components-3-x-container) :global(.vtex-flex-layout-0-x-flexRowContent--header-menu) :global(.vtex-flex-layout-0-x-stretchChildrenWidth) :global(.vtex-menu-2-x-menuContainerNav--category-menu-outside) :global(.vtex-menu-2-x-menuContainer--category-menu-outside) :global(.vtex-menu-2-x-menuItem--category-menu-outside) :global(.vtex-menu-2-x-styledLinkContainer--category-menu-outside) :global(.vtex-menu-2-x-styledLink--category-menu-outside) :global(.vtex-menu-2-x-styledLinkContent--category-menu-outside),
          .wrapper--sticky-header .container--sticky-header :global(.vtex-flex-layout-0-x-flexRow--header-menu) :global(.vtex-store-components-3-x-container) :global(.vtex-flex-layout-0-x-flexRowContent--header-menu) :global(.vtex-flex-layout-0-x-stretchChildrenWidth) :global(.vtex-menu-2-x-menuContainerNav--category-menu-outside) :global(.vtex-menu-2-x-menuContainer--category-menu-outside) :global(.vtex-menu-2-x-menuItem--category-menu-outside) :global(.vtex-menu-2-x-styledLinkContainer--category-menu-outside) :global(.vtex-menu-2-x-styledLink--category-menu-outside) :global(.vtex-menu-2-x-styledLinkContent--category-menu-outside) {
            color: #343434;
            font-weight: 600; }
          .wrapper--sticky-header .container--sticky-header :global(.vtex-flex-layout-0-x-flexRow--header-menu) :global(.vtex-store-components-3-x-container) :global(.vtex-flex-layout-0-x-flexRowContent--header-menu) :global(.vtex-flex-layout-0-x-stretchChildrenWidth) :global(.vtex-menu-2-x-menuContainerNav--category-menu-outside) :global(.vtex-menu-2-x-menuContainer--category-menu-outside) :global(.vtex-menu-2-x-menuItem--category-menu-outside):last-child :global(.vtex-menu-2-x-styledLinkContainer--category-menu-outside) :global(.vtex-menu-2-x-styledLink--category-menu-outside) :global(.vtex-menu-2-x-styledLinkContent--category-menu-outside) {
            color: #ee7611;
            font-weight: 600; }
            .wrapper--sticky-header--stuck .container--sticky-header :global(.vtex-flex-layout-0-x-flexRow--header-menu) :global(.vtex-store-components-3-x-container) :global(.vtex-flex-layout-0-x-flexRowContent--header-menu) :global(.vtex-flex-layout-0-x-stretchChildrenWidth) :global(.vtex-menu-2-x-menuContainerNav--category-menu-outside) :global(.vtex-menu-2-x-menuContainer--category-menu-outside) :global(.vtex-menu-2-x-menuItem--category-menu-outside) :global(.vtex-menu-2-x-styledLinkContainer--category-menu-outside) :global(.vtex-menu-2-x-styledLink--category-menu-outside) :global(.vtex-menu-2-x-styledLinkContent--category-menu-outside):hover,
            .wrapper--sticky-header .container--sticky-header :global(.vtex-flex-layout-0-x-flexRow--header-menu) :global(.vtex-store-components-3-x-container) :global(.vtex-flex-layout-0-x-flexRowContent--header-menu) :global(.vtex-flex-layout-0-x-stretchChildrenWidth) :global(.vtex-menu-2-x-menuContainerNav--category-menu-outside) :global(.vtex-menu-2-x-menuContainer--category-menu-outside) :global(.vtex-menu-2-x-menuItem--category-menu-outside) :global(.vtex-menu-2-x-styledLinkContainer--category-menu-outside) :global(.vtex-menu-2-x-styledLink--category-menu-outside) :global(.vtex-menu-2-x-styledLinkContent--category-menu-outside):hover {
              text-decoration: underline; }

@media (max-width: 768px) {
  .wrapper--main-header-mobile--stuck .container--main-header-mobile :global(.vtex-flex-layout-0-x-flexRow--main-header-mobile) {
    background-color: #ffffff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); }
  .wrapper--main-header-mobile .container--main-header-mobile :global(.vtex-flex-layout-0-x-flexRow--main-header-mobile) {
    background-color: #ffffff; }
    .wrapper--main-header-mobile .container--main-header-mobile :global(.vtex-flex-layout-0-x-flexRow--main-header-mobile) :global(.vtex-flex-layout-0-x-flexRowContent--main-header-mobile) {
      align-items: center;
      box-shadow: none !important;
      padding-top: 8px;
      background-color: #ffffff; }
      .wrapper--main-header-mobile .container--main-header-mobile :global(.vtex-flex-layout-0-x-flexRow--main-header-mobile) :global(.vtex-flex-layout-0-x-flexRowContent--main-header-mobile) :global(.vtex-store-drawer-0-x-openIconContainer) {
        padding-right: 20px !important;
        padding: 0; }
        .wrapper--main-header-mobile .container--main-header-mobile :global(.vtex-flex-layout-0-x-flexRow--main-header-mobile) :global(.vtex-flex-layout-0-x-flexRowContent--main-header-mobile) :global(.vtex-store-drawer-0-x-openIconContainer)::before {
          content: '';
          background: url("assets/component-header-left-menu/img/burguer-mobile.svg") no-repeat;
          background-size: contain;
          display: block;
          width: 29px;
          height: 18px; }
        .wrapper--main-header-mobile .container--main-header-mobile :global(.vtex-flex-layout-0-x-flexRow--main-header-mobile) :global(.vtex-flex-layout-0-x-flexRowContent--main-header-mobile) :global(.vtex-store-drawer-0-x-openIconContainer) :global(.vtex-store-drawer-0-x-menuIcon) {
          display: none; }
      .wrapper--main-header-mobile .container--main-header-mobile :global(.vtex-flex-layout-0-x-flexRow--main-header-mobile) :global(.vtex-flex-layout-0-x-flexRowContent--main-header-mobile) :global(.vtex-login-2-x-buttonLink) :global(.vtex-button) {
        padding-left: 10px;
        padding-right: 10px; }
        .wrapper--main-header-mobile .container--main-header-mobile :global(.vtex-flex-layout-0-x-flexRow--main-header-mobile) :global(.vtex-flex-layout-0-x-flexRowContent--main-header-mobile) :global(.vtex-login-2-x-buttonLink) :global(.vtex-button)::before {
          content: '';
          background: url("assets/component-header-left-menu/img/icon-user.svg") no-repeat;
          background-size: contain;
          display: block;
          width: 32px;
          height: 32px; }
        .wrapper--main-header-mobile .container--main-header-mobile :global(.vtex-flex-layout-0-x-flexRow--main-header-mobile) :global(.vtex-flex-layout-0-x-flexRowContent--main-header-mobile) :global(.vtex-login-2-x-buttonLink) :global(.vtex-button) :global(.vtex-button__label) {
          display: none; }
          .wrapper--main-header-mobile .container--main-header-mobile :global(.vtex-flex-layout-0-x-flexRow--main-header-mobile) :global(.vtex-flex-layout-0-x-flexRowContent--main-header-mobile) :global(.vtex-login-2-x-buttonLink) :global(.vtex-button) :global(.vtex-button__label) :global(.vtex-login-2-x-profileIcon) {
            display: none; }
      .wrapper--main-header-mobile .container--main-header-mobile :global(.vtex-flex-layout-0-x-flexRow--main-header-mobile) :global(.vtex-flex-layout-0-x-flexRowContent--main-header-mobile) :global(.vtex-minicart-2-x-minicartWrapperContainer) :global(.vtex-minicart-2-x-minicartContainer) :global(.vtex-minicart-2-x-openIconContainer) {
        padding: 0; }
        .wrapper--main-header-mobile .container--main-header-mobile :global(.vtex-flex-layout-0-x-flexRow--main-header-mobile) :global(.vtex-flex-layout-0-x-flexRowContent--main-header-mobile) :global(.vtex-minicart-2-x-minicartWrapperContainer) :global(.vtex-minicart-2-x-minicartContainer) :global(.vtex-minicart-2-x-openIconContainer) :global(.vtex-button) {
          padding-left: 15px;
          padding-right: 15px; }
          .wrapper--main-header-mobile .container--main-header-mobile :global(.vtex-flex-layout-0-x-flexRow--main-header-mobile) :global(.vtex-flex-layout-0-x-flexRowContent--main-header-mobile) :global(.vtex-minicart-2-x-minicartWrapperContainer) :global(.vtex-minicart-2-x-minicartContainer) :global(.vtex-minicart-2-x-openIconContainer) :global(.vtex-button)::before {
            content: '';
            background: url("assets/component-header-left-menu/img/icon-cart.svg") no-repeat;
            background-size: contain;
            display: block;
            width: 26px;
            height: 25px; }
          .wrapper--main-header-mobile .container--main-header-mobile :global(.vtex-flex-layout-0-x-flexRow--main-header-mobile) :global(.vtex-flex-layout-0-x-flexRowContent--main-header-mobile) :global(.vtex-minicart-2-x-minicartWrapperContainer) :global(.vtex-minicart-2-x-minicartContainer) :global(.vtex-minicart-2-x-openIconContainer) :global(.vtex-button) :global(.vtex-button__label) :global(.vtex-minicart-2-x-minicartIconContainer) :global(.vtex-minicart-2-x-cartIcon) {
            display: none; }
          .wrapper--main-header-mobile .container--main-header-mobile :global(.vtex-flex-layout-0-x-flexRow--main-header-mobile) :global(.vtex-flex-layout-0-x-flexRowContent--main-header-mobile) :global(.vtex-minicart-2-x-minicartWrapperContainer) :global(.vtex-minicart-2-x-minicartContainer) :global(.vtex-minicart-2-x-openIconContainer) :global(.vtex-button) :global(.vtex-button__label) :global(.vtex-minicart-2-x-minicartIconContainer) :global(.vtex-minicart-2-x-minicartQuantityBadge) {
            top: -35px !important;
            right: -22px !important;
            font-size: 15px;
            font-weight: 600;
            background-color: #E11220; } }
